---

- name: Template passwords
  template:
    src: passwords.yml
    dest: "{{ openhpc_passwords_output_path }}"
  delegate_to: localhost
  run_once: true

- name: Get templated passwords from target environment
# inventory group/host vars created in a play cannot be accessed in the same play, even after meta: refresh_inventory
  ansible.builtin.include_vars:
    file: "{{ openhpc_passwords_output_path }}"

- name:  Template k3s token to terraform
  template:
    src: k3s-token.auto.tfvars.json.j2
    dest: "{{ lookup('env', 'APPLIANCES_ENVIRONMENT_ROOT') }}/tofu/k3s-token.auto.tfvars.json"
  delegate_to: localhost
  run_once: true
