nfs_configurations:
  - comment: Export /exports/home from nfs server as /home
    nfs_enable:
        server:  "{{ inventory_hostname in groups['nfs_server'] }}"
        clients: "{{ inventory_hostname in groups['cluster'] }}" # need /home on nfs server for basic_users
    nfs_server: "{{ hostvars[groups['nfs_server'] | first].ansible_host }}"
    nfs_export: /exports/home
    nfs_client_mnt_point: /home
  - comment: Export {{ appliances_state_dir }} from control node to login for hostkey persistence
    nfs_enable:
        server:  "{{ inventory_hostname in groups['control'] }}"
        clients: "{{ inventory_hostname in groups['login'] }}"
    nfs_server: "{{ hostvars[groups['control'] | first ].internal_address }}"
    nfs_export: "{{ appliances_state_dir }}"
    nfs_client_mnt_point: "{{ appliances_state_dir }}"
  - comment: Export /exports/grid-sessions from nfs server as /mnt/grid-sessions
    nfs_enable:
      server:  "{{ inventory_hostname in groups['nfs_server'] }}"
      clients: "{{ inventory_hostname in groups['cluster'] }}" # TODO: maybe should only be grid workers (+ login?) ?
    nfs_server: "{{ hostvars[groups['nfs_server'] | first].ansible_host }}"
    nfs_export: /exports/grid-sessions
    nfs_client_mnt_point: /mnt/grid-sessions
