---
alertmanager_version: "0.28.1"
alertmanager_download_checksum: "sha256:5ac7ab5e4b8ee5ce4d8fb0988f9cb275efcc3f181b4b408179fafee121693311"
alertmanager_download_dest: /tmp/alertmanager.tar.gz
alertmanager_binary_dir: /usr/local/bin
alertmanager_started: true
alertmanager_enabled: true

alertmanager_system_user: alertmanager
alertmanager_system_group: "{{ alertmanager_system_user }}"
alertmanager_config_file: /etc/alertmanager/alertmanager.yml
alertmanager_web_config_file: /etc/alertmanager/alertmanager-web.yml
alertmanager_storage_path: /var/lib/alertmanager

alertmanager_port: "9093"
alertmanager_web_listen_addresses:
  - ":{{ alertmanager_port }}"
alertmanager_web_external_url: "" # defined in environments/common/inventory/group_vars/all/alertmanager.yml for visibility

alertmanager_data_retention: "120h"
alertmanager_data_maintenance_interval: "15m"
alertmanager_config_flags: {} # other command-line parameters as shown by `man alertmanager`
alertmanager_config_template: alertmanager.yml.j2
alertmanager_web_config_template: alertmanager-web.yml.j2

alertmanager_web_config_default:
  basic_auth_users:
    alertmanager: "{{ vault_alertmanager_admin_password | password_hash('bcrypt', '1234567890123456789012', ident='2b') }}"
alertmanager_alertmanager_web_config_extra: {} # top-level only

# Variables below are interpolated into alertmanager_config_default:

# Uncomment below and add Slack bot app creds for Slack integration
# alertmanager_slack_integration:
#   channel: '#alerts'
#   app_creds:

alertmanager_null_receiver:
  name: "null"
alertmanager_slack_receiver: {} # defined in environments/common/inventory/group_vars/all/alertmanager.yml as it needs prometheus_address
alertmanager_extra_receivers: []
alertmanager_default_receivers: "{{ [alertmanager_null_receiver] + ([alertmanager_slack_receiver] if alertmanager_slack_integration is defined else []) }}"
alertmanager_receivers: "{{ alertmanager_default_receivers  + alertmanager_extra_receivers }}"

alertmanager_config_default:
  route:
    group_by:
      - "..."
    receiver: "{{ alertmanager_slack_receiver_name if alertmanager_slack_integration is defined else 'null' }}"
  receivers: "{{ alertmanager_receivers }}"

alertmanager_config_extra: {} # top-level only
