---
- name: Run EESSI test job
  hosts: login[0]
  become: true
  gather_facts: false
  become_user: demo_user
  vars:
    eessi_test_module: GCCcore/12.2.0
  tasks:
    - name: Activate EESSI and load GCC
      ansible.builtin.shell:
        cmd: >-
          bash -lc '
            source /cvmfs/software.eessi.io/versions/2023.06/init/bash &&
            module load {{ eessi_test_module }} &&
            module list
          '
      register: eeesi_modules
    - debug:
        var: eeesi_modules
    - name: Ensure module loaded (shown in stderr)
      ansible.builtin.assert:
        that: eessi_test_module in eeesi_modules.stderr
        fail_msg: |
          Expected: '{{ eessi_test_module }}'
          Got: {{ eeesi_modules.stderr }}
      vars:
        expected_output: |
          Currently Loaded Modules:
            1) GCCcore/12.2.0
