- hosts: all
  become: no
  gather_facts: no
  tags:
    - reimage_login
    - reimage_compute
    - reimage_control
  tasks:
    - import_tasks: get_image_ids.yml
    
- hosts: login
  become: no
  gather_facts: no
  tags: reimage_login
  tasks:
    - name: Reimage login node via openstack
      shell:
        cmd: "openstack server rebuild {{ instance_id | default(inventory_hostname) }} --image {{ login_build.artifact_id }}"
      delegate_to: localhost
    
    - name: Check login node rebuild completed
      shell:
        cmd: openstack server show {{ inventory_hostname }} --format value -c image
      register: openstack_login
      delegate_to: localhost
      retries: 36
      delay: 5
      until: login_build.artifact_id in openstack_login.stdout
      changed_when: false
    
    - name: Wait for login connection
      wait_for_connection:
        timeout: 800
        delay: 5
      register: login_connect
      retries: 3
      delay: 10
      until: login_connect is not failed
    
    - name: Check slurm up after reimaging login node
      import_tasks: "{{ lookup('env', 'APPLIANCES_ENVIRONMENT_ROOT') }}/hooks/check_slurm.yml"

- hosts: login
  become: no
  gather_facts: no
  tags: reimage_compute
  tasks:
    # TODO: This is specific to smslabs/arcus environment config - could generalise to all compute nodes
    - name: Request compute node rebuild via Slurm
      shell:
        cmd: scontrol reboot ASAP nextstate=RESUME reason='rebuild image:{{ compute_build.artifact_id }}' {{ openhpc_cluster_name }}-compute-[0-1]
      become: yes
        
    - name: Check compute node rebuild completed
      shell:
        cmd: openstack server show {{ item }} --format value -c image
      register: openstack_compute
      delegate_to: localhost
      loop: "{{ groups['compute'] }}"
      retries: 5
      delay: 30
      until: compute_build.artifact_id in openstack_compute.stdout
      changed_when: false

- hosts: compute
  become: no
  gather_facts: no
  tags: reimage_compute
  tasks:
    - name: Wait for compute connection
      wait_for_connection:
        timeout: 800
        delay: 5
    
    - ansible.builtin.pause:
        seconds: 20
      
    - name: Check slurm up after reimaging login node
      import_tasks: "{{ lookup('env', 'APPLIANCES_ENVIRONMENT_ROOT') }}/hooks/check_slurm.yml"
      run_once: true

- hosts: control
  become: no
  gather_facts: no
  tags: reimage_control
  tasks:
    - name: Reimage control node via openstack
      shell:
        cmd: "openstack server rebuild {{ instance_id | default(inventory_hostname) }} --image {{ control_build.artifact_id }}"
      delegate_to: localhost
    
    - name: Check control node rebuild completed
      shell:
        cmd: openstack server show {{ inventory_hostname }} --format value -c image
      register: openstack_control
      delegate_to: localhost
      retries: 5
      delay: 30
      until: control_build.artifact_id in openstack_control.stdout
      changed_when: false
    
    - name: Wait for control connection
      wait_for_connection:
        timeout: 800
    
- name: Run slurm playbook again to add partition info
  import_playbook: ../slurm.yml
  tags: reimage_control

- hosts: control
  become: no
  gather_facts: no
  tags: reimage_control
  tasks:
    - name: Check slurm up after reimaging login node
      import_tasks: "{{ lookup('env', 'APPLIANCES_ENVIRONMENT_ROOT') }}/hooks/check_slurm.yml"
