# https://osc.github.io/ood-documentation/latest/authentication/pam.html
---
- name: Install Apache PAM module # Extracted from start of roles/openondemand/tasks/pam_auth.yml to ensure only installed during build
  ansible.builtin.dnf:
    name: mod_authnz_pam
  when: appliances_mode != 'configure'

- block:
  - name: Enable Apache PAM module
    ansible.builtin.lineinfile:
      path: /etc/httpd/conf.modules.d/55-authnz_pam.conf
      line: LoadModule authnz_pam_module modules/mod_authnz_pam.so
      regexp: ^LoadModule authnz_pam_module modules/mod_authnz_pam.so

  - name: Set PAM service # TODO: might need subsequent modification??
    ansible.builtin.command:
      cmd: cp /etc/pam.d/sshd /etc/pam.d/ood
      creates: /etc/pam.d/ood

  - name: Allow the Apache user to read /etc/shadow
    ansible.builtin.file:
      path: /etc/shadow
      mode: "0640"
      group: apache

  - name: Allow httpd access to PAM in SELinux
    ansible.posix.seboolean:
      name: httpd_mod_auth_pam
      state: true
      persistent: true
    when: ansible_facts.selinux.status == 'enabled'
  when: appliances_mode != 'build'
