[cli]
base_url = "{{ pulp_site_url }}"
username = "{{ pulp_site_username }}"
password = "{{ pulp_site_password }}"
api_root = "/pulp/"
domain = "default"
headers = []
cert = ""
key = ""
verify_ssl = true
format = "json"
dry_run = false
timeout = 0
verbose = 0
