#!/usr/bin/env bash
#SBATCH --gres={{ hpctests_gpuburn_gres }}
#SBATCH --ntasks-per-gpu=1
#SBATCH --cpus-per-gpu=1
#SBATCH --mem-per-gpu=2G
#SBATCH --output=%x.%N.out
#SBATCH --error=%x.%N.out
#SBATCH --array=0-{{ hpctests_computes.stdout_lines | length - 1 }}
#SBATCH --partition={{ hpctests_partition }}
{%if hpctests_nodes is defined %}
#SBATCH --nodelist={{ hpctests_computes.stdout_lines[0] }}
{% endif %}
{%if hpctests_account is defined %}
#SBATCH --account={{ hpctests_account }}
{% endif %}
{%if hpctests_qos is defined %}
#SBATCH --qos={{ hpctests_qos }}
{% endif %}
echo SLURM_JOB_NODELIST: $SLURM_JOB_NODELIST
echo SLURM_JOB_ID: $SLURM_JOB_ID
echo gpuburn install dir: {{ hpctests_gpuburn_install_dir }}
{{ hpctests_pre_cmd }}

# shellcheck gets confused about jinja templates
#shellcheck disable=SC1036,SC1056
srun --output=%x.%N.%t.out --error=%x.%N.%t.out \
	"{{ hpctests_gpuburn_install_dir }}/gpu_burn" \
		-c "{{ hpctests_gpuburn_install_dir }}/compare.ptx" \
		-d \
		{{ (hpctests_gpuburn_minutes | int) * 60 }}
