#!/usr/bin/bash

#SBATCH --nodes=1
#SBATCH --output=%x.%a.out
#SBATCH --error=%x.%a.out
#SBATCH --exclusive
#SBATCH --partition={{ hpctests_partition }}
{%if hpctests_nodes is defined %}#SBATCH --nodelist={{ hpctests_computes.stdout_lines[0] }}{% endif %}

echo HPL arch: {{ hpctests_hpl_arch }}
{{ hpctests_pre_cmd }}
module load {{ hpctests_hpl_modules | join(' ' ) }}
make arch={{ hpctests_hpl_arch }} clean_arch_all
make arch={{ hpctests_hpl_arch }}
