#!/usr/bin/env bash
#SBATCH --ntasks={{ hpctests_computes.stdout_lines | length }}
#SBATCH --ntasks-per-node=1
#SBATCH --output=%x.out
#SBATCH --error=%x.out
#SBATCH --exclusive
{%if hpctests_nodes is defined %}#SBATCH --nodelist={{ hpctests_nodes }}{% endif %}

module load {{ hpctests_pingmatrix_modules | join(' ' ) }}
mpicc -o nxnlatbw mpi_nxnlatbw.c

export UCX_NET_DEVICES={{ hpctests_ucx_net_devices }}
mpirun nxnlatbw
