#!/usr/bin/env bash

#SBATCH --ntasks={{ hpctests_computes.stdout_lines | length }}
#SBATCH --ntasks-per-node=1
#SBATCH --output=%x.out
#SBATCH --error=%x.out
#SBATCH --exclusive
#SBATCH --partition={{ hpctests_partition }}
{%if hpctests_nodes is defined %}#SBATCH --nodelist={{ hpctests_nodes }}{% endif %}

export UCX_NET_DEVICES={{ hpctests_ucx_net_devices }}
echo SLURM_JOB_NODELIST: $SLURM_JOB_NODELIST
echo SLURM_JOB_ID: $SLURM_JOB_ID
echo UCX_NET_DEVICES: $UCX_NET_DEVICES
{% if hpctests_pingmatrix_modules %}module load {{ hpctests_pingmatrix_modules | join(' ' ) }}{% endif %}
{% if hpctests_extra_paths %}export PATH={{ hpctests_extra_paths | join(':') }}:$PATH{% endif %}

mpicc -o nxnlatbw mpi_nxnlatbw.c
mpirun nxnlatbw
