---
- name: Terminate systemd user sessions for absent users
  terminate_user_sessions:
    user: "{{ item.name }}"
  loop: "{{ basic_users_users }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - "item.state | default('present') == 'absent'"

- name: Stop sssd if required
  systemd:
    name: sssd
    state: stopped
  register: _stop_sssd
  when:
    - "'sssd' in group_names"
    - basic_users_override_sssd | bool

- name: Create groups
  ansible.builtin.group: "{{ item }}"
  loop:  "{{ basic_users_groups }}"

- name: Create users and generate public keys
  user: "{{ basic_users_userdefaults | combine(item) | filter_user_params() }}"
  loop: "{{ basic_users_users }}"
  loop_control:
    label: "{{ item.name }} [{{ item.state | default('present') }}]"
  register: basic_users_info

- name: Restart sssd if required
  systemd:
    name: sssd
    state: started
  when: _stop_sssd is changed

- name: Write supplied public key as authorized for SSH access
  authorized_key:
    user: "{{ item.name }}"
    state: present
    key: "{{ item.public_key }}"
  loop: "{{ basic_users_users }}"
  loop_control:
    label: "{{ item.name }} [{{ item.state | default('present') }}]"
  when:
    - item.state | default('present') == 'present'
    - item.public_key is defined
    - basic_users_manage_homedir
  run_once: true

- name: Write generated public key as authorized for SSH access
  authorized_key:
    user: "{{ item.name }}"
    state: present
    manage_dir: no
    key: "{{ item.ssh_public_key }}"
  loop: "{{ hostvars[ansible_play_hosts | first].basic_users_info.results }}"
  loop_control:
    label: "{{ item.name }}"
  when:
  - item.ssh_public_key is defined
  - basic_users_manage_homedir
  run_once: true

- name: Write sudo rules
  blockinfile:
    path: /etc/sudoers.d/80-{{ item.name}}-user
    block: "{{ item.sudo }}"
    create: true
  loop: "{{ basic_users_users }}"
  loop_control:
    label: "{{ item.name }}"
  when: "'sudo' in item"
