---
- name: Terminate systemd user sessions for absent users
  terminate_user_sessions:
    user: "{{ item.name }}"
  loop: "{{ basic_users_users }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - "item.state | default('present') == 'absent'"

- name: Stop sssd if required
  ansible.builtin.systemd:
    name: sssd
    state: stopped
  register: _stop_sssd
  when:
    - "'sssd' in group_names"
    - basic_users_override_sssd | bool

- name: Create groups
  ansible.builtin.group: "{{ item }}" # noqa: args[module]
  loop: "{{ basic_users_groups }}"

- name: Create users
  ansible.builtin.user: "{{ basic_users_userdefaults | combine(item) | filter_user_params() | combine(_disable_homedir) }}" # noqa: args[module]
  loop: "{{ basic_users_users }}"
  loop_control:
    label: "{{ item.name }}"
  vars:
    _disable_homedir: # ensure this task doesn't touch $HOME
      create_home: false
      generate_ssh_key: false

- name: Write sudo rules
  ansible.builtin.blockinfile:
    path: /etc/sudoers.d/80-{{ item.name }}-user
    block: "{{ item.sudo }}"
    create: true
    mode: "0440"
  loop: "{{ basic_users_users }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - item.state | default('present') == 'present'
    - "'sudo' in item"

- name: Restart sssd if required
  ansible.builtin.systemd:
    name: sssd
    state: started
  when: _stop_sssd is changed # noqa: no-handler

# This task runs only on the home directory server so it can handle
# root-squashed exports
- name: Create home directories
  # doesn't delete with state=absent, same as ansible.builtin.user
  ansible.builtin.copy:
    remote_src: true
    src: "{{ item.skeleton | default('/etc/skel/') }}"
    dest: "{{ item.home | default(basic_users_homedir_server_path + '/' + item.name) }}"
    owner: "{{ item.name }}"
    group: "{{ item.name }}"
    mode: u=rwX,go=
  loop: "{{ basic_users_users }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - item.state | default('present') == 'present'
    - item.create_home | default(true) | bool
    - ansible_hostname == basic_users_homedir_server

# The following tasks run on a single *client* node, so that home directory
# paths are easily constructed, becoming each user so that root-squash
# doesn't matter
- name: Create ~/.ssh directories
  ansible.builtin.file:
    state: directory
    path: ~/.ssh/
    owner: "{{ item.name }}"
    group: "{{ item.name }}"
    mode: u=rwX,go=
  become: true
  become_user: "{{ item.name }}"
  loop: "{{ basic_users_users }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - item.state | default('present') == 'present'
    - item.generate_ssh_key | default(basic_users_generate_ssh_key) | bool or item.public_key is defined
    - ansible_hostname == basic_users_homedir_client

- name: Generate cluster ssh key
  community.crypto.openssh_keypair:
    path: "{{ item.ssh_key_file | default('~/.ssh/id_' + _ssh_key_type) }}" # NB: ssh_key_file is from ansible.builtin.user
    type: "{{ _ssh_key_type }}"
    comment: "{{ item.ssh_key_comment | default(item.name) }}"
  vars:
    _ssh_key_type: "{{ item.ssh_key_type | default('ed25519') }}"
  become: true
  become_user: "{{ item.name }}"
  loop: "{{ basic_users_users }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - item.state | default('present') == 'present'
    - item.generate_ssh_key | default(basic_users_generate_ssh_key)
    - ansible_hostname == basic_users_homedir_client
  register: _cluster_ssh_keypair

- name: Write generated cluster ssh key to authorized_keys
  ansible.posix.authorized_key:
    user: "{{ item.item.name }}"
    state: present
    manage_dir: false
    key: "{{ item.public_key }}"
    path: ~/.ssh/authorized_keys
  become: true
  become_user: "{{ item.item.name }}"
  loop: "{{ _cluster_ssh_keypair.results }}"
  loop_control:
    label: "{{ item.item.name }}"
  when:
    - item.item.state | default('present') == 'present'
    - item.item.generate_ssh_key | default(basic_users_generate_ssh_key)
    - ansible_hostname == basic_users_homedir_client
    - item.public_key is defined # NB this is the *returned* public key

- name: Write supplied public key to authorized_keys
  ansible.posix.authorized_key:
    user: "{{ item.name }}"
    state: present
    manage_dir: false
    key: "{{ item.public_key }}"
    path: ~/.ssh/authorized_keys
  become: true
  become_user: "{{ item.name }}"
  loop: "{{ basic_users_users }}"
  loop_control:
    label: "{{ item.name }}"
  when:
    - item.state | default('present') == 'present'
    - ansible_hostname == basic_users_homedir_client
    - item.public_key is defined # NB this is the *provided* public key
