{{ ansible_managed | comment }}
[grafana]
baseurl = {{ appliances_pulp_url }}/pulp/content/{{ dnf_repos_all['grafana'][ansible_distribution_major_version]['pulp_path'] }}/{{ dnf_repos_all['grafana'][ansible_distribution_major_version]['pulp_timestamp'] }}
enabled = 0
name = grafana
async = 1
gpgcheck = 0
{% if 'dnf_repos' in group_names and dnf_repos_password is defined %}
password = {{ dnf_repos_password }}
username = {{ dnf_repos_username }}
{% endif %}
