[sssd]
# debug_level = 9
config_file_version = 2
services = nss, pam,autofs
domains = default

[nss]
# debug_level = 9
homedir_substring = /home

[pam]
# debug_level = 9

[domain/default]
# debug_level = 9
id_provider = ldap
autofs_provider = ldap
auth_provider = ldap
chpass_provider = ldap
ldap_id_use_start_tls = True
ldap_tls_cacertdir = /etc/openldap/certs
cache_credentials = True
ldap_tls_reqcert = allow

ldap_uri = {{ DIB_NREL_LDAP_URI_VAR }}
ldap_search_base = {{ DIB_NREL_LDAP_SEARCH_BASE_VAR }}
ldap_schema = {{ DIB_NREL_LDAP_SCHEMA_VAR }}

# auth to ds servers:
ldap_default_bind_dn = {{ DIB_NREL_LDAP_DEFAULT_BIND_DN_VAR }}
ldap_default_authtok_type = obfuscated_password
ldap_default_authtok = {{ DIB_NREL_LDAP_DEFAULT_AUTHTOK_VAR }}

# ref: https://access.redhat.com/solutions/4356441
