terraform.tfstate*
.terraform
config-drive.iso
venv
*.pyc
packer/openhpc2
.vscode
requirements.yml.last
.ansible
environments/production/inventory/hosts.yml
environments/staging/inventory/hosts.yml
environments/production/tofu/.terraforn.lock.hcl
environments/staging/tofu/.terraform.lock.hcl
