# Only used for Azimuth running the caas environment
[defaults]
any_errors_fatal = True
gathering = smart
forks = 30
host_key_checking = False
remote_tmp = /tmp
collections_path = ansible/collections
roles_path = ansible/roles
filter_plugins = ansible/filter_plugins
callbacks_enabled = ansible.posix.profile_tasks

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=240s -o PreferredAuthentications=publickey -o UserKnownHostsFile=/dev/null
pipelining = True
# This is important because we are using one of the hosts in the play as a jump host
# This ensures that if the proxy connection is interrupted, rendering the other hosts
# unreachable, the connection is retried instead of failing the entire play
retries = 10

[persistent_connection]
command_timeout = 60

[ansible_network]
import_modules = true
