ansible>=2.9.0
os-client-config
openstacksdk
python-openstackclient
jmespath
passlib[bcrypt]
cookiecutter
vagranttoansible
selinux # this is a shim to avoid having to use --system-site-packages, you still need sudo yum install libselinux-python3
netaddr
