ansible-core==2.16
openstacksdk
python-openstackclient==8.0.0
python-manilaclient
python-ironicclient
jmespath
bcrypt==4.3.0
passlib[bcrypt]==1.7.4
cookiecutter
# selinux # this is a shim to avoid having to use --system-site-packages, you still need sudo yum install libselinux-python3
netaddr
matplotlib
pulp-cli==0.23.2
beautifulsoup4==4.13.3
