
data "openstack_networking_network_v2" "cluster_net" {
  name = "{{ network_name }}"
}

data "openstack_networking_subnet_v2" "cluster_subnet" {

  name = "{{ subnet_name }}"
}

{% for secgroup in hostvars.values() | map(attribute='security_groups', default=[]) | flatten | unique %}
data "openstack_networking_secgroup_v2" "{{ secgroup }}" {

  name = "{{ secgroup }}"
}
{% endfor %}
