---

- name: Replace non-epel repos with Pulp repos
  ansible.builtin.yum_repository:
    file: "{{ repo_values.repo_file }}"
    name: "{{ repo_name }}"
    baseurl: "{{ repo_content_url }}/{{ repo_values.pulp_path }}/{{ repo_values.pulp_timestamp }}"
    description: "{{ repo_name }}"
    username: "{{ dnf_repos_username }}"
    password: "{{ dnf_repos_password }}"
    gpgcheck: true
    gpgkey: "{{ repo_values.gpgkey | default('') }}"
  loop: "{{ dnf_repos_repos | dict2items }}"
  loop_control:
    label: "{{ repo_name }}[{{ repo_os }}]: {{ repo_values }}"
  when:
    - repo_name != 'epel'
    - repo_values | length > 0
  vars:
    repo_os: "{{ ansible_distribution_version if ansible_distribution_version in item.value else ansible_distribution_major_version }}"
    repo_values: "{{ item.value.get(repo_os, {}) }}"
    repo_name: "{{ repo_values.repo_name | default(item.key) }}"
    repo_content_url: "{{ repo_values.pulp_content_url | default(dnf_repos_pulp_content_url) }}"

- name: Download rockyofficial GPG key
  ansible.builtin.get_url:
    url: https://dl.rockylinux.org/pub/rocky/RPM-GPG-KEY-rockyofficial
    dest: ./rocky-official-key.gpg
    mode: "0644"

- name: Import downloaded GPG key # noqa: no-changed-when
  ansible.builtin.command: rpm --import rocky-official-key.gpg # noqa: command-instead-of-module

- name: Install epel-release
  # So roles installing epel via epel-release don't overwrite changes to the epel repo below
  ansible.builtin.dnf:
    name: epel-release

- name: Replace epel repo with Pulp repo
  ansible.builtin.yum_repository:
    file: "{{ repo_values.repo_file }}"
    name: "{{ repo_name }}"
    baseurl: "{{ repo_content_url }}/{{ repo_values.pulp_path }}/{{ repo_values.pulp_timestamp }}"
    description: "{{ repo_name }}"
    username: "{{ dnf_repos_username }}"
    password: "{{ dnf_repos_password }}"
    gpgcheck: true
    gpgkey: "{{ repo_values.gpgkey | default('') }}"
  loop: "{{ dnf_repos_repos | dict2items }}"
  loop_control:
    label: "{{ repo_name }}[{{ repo_os }}]: {{ repo_values }}"
  when:
    - repo_name == 'epel'
    - repo_values | length > 0
  vars:
    repo_os: "{{ ansible_distribution_version if ansible_distribution_version in item.value else ansible_distribution_major_version }}"
    repo_values: "{{ item.value.get(repo_os, {}) }}"
    repo_name: "{{ repo_values.repo_name | default(item.key) }}"
    repo_content_url: "{{ repo_values.pulp_content_url | default(dnf_repos_pulp_content_url) }}"
