---

- name: Create GPG key files
  ansible.builtin.copy:
    dest: "{{ item.value[ansible_distribution_major_version].path }}"
    content: |
      {{ item.value[ansible_distribution_major_version].key }}
    owner: root
    group: root
    mode: u=rw,go=r
  loop: "{{ dnf_repos_gpg_keys | dict2items }}"
  loop_control:
    label: "{{ item.key }}"
  when: "'key' in item.value[ansible_distribution_major_version]"

- name: Import GPG keys
  ansible.builtin.rpm_key:
    key: "{{ item.value[ansible_distribution_major_version].path }}"
  loop: "{{ dnf_repos_gpg_keys | dict2items }}"
  loop_control:
    label: "{{ item.key }}"

- name: Replace non-epel repos with Pulp repos
  ansible.builtin.yum_repository:
    file: "{{ repo_values.repo_file }}"
    name: "{{ repo_name }}"
    baseurl: "{{ repo_content_url }}/{{ repo_values.pulp_path }}/{{ repo_values.pulp_timestamp }}"
    description: "{{ repo_name }}"
    username: "{{ dnf_repos_username }}"
    password: "{{ dnf_repos_password }}"
    gpgcheck: "{{ repo_values.gpgcheck | default(true) }}"
  loop: "{{ dnf_repos_repos | dict2items }}"
  loop_control:
    label: "{{ repo_name }}[{{ repo_os }}]: {{ repo_values }}"
  when:
    - repo_name != 'epel'
    - repo_values | length > 0
  vars:
    repo_os: "{{ ansible_distribution_version if ansible_distribution_version in item.value else ansible_distribution_major_version }}"
    repo_values: "{{ item.value.get(repo_os, {}) }}"
    repo_name: "{{ repo_values.repo_name | default(item.key) }}"
    repo_content_url: "{{ repo_values.pulp_content_url | default(dnf_repos_pulp_content_url) }}"

- name: Install epel-release
  # So roles installing epel via epel-release don't overwrite changes to the epel repo below
  ansible.builtin.dnf:
    name: epel-release

- name: Replace epel repo with Pulp repo
  ansible.builtin.yum_repository:
    file: "{{ repo_values.repo_file }}"
    name: "{{ repo_name }}"
    baseurl: "{{ repo_content_url }}/{{ repo_values.pulp_path }}/{{ repo_values.pulp_timestamp }}"
    description: "{{ repo_name }}"
    username: "{{ dnf_repos_username }}"
    password: "{{ dnf_repos_password }}"
    gpgcheck: "{{ repo_values.gpgcheck | default(true) }}"
  loop: "{{ dnf_repos_repos | dict2items }}"
  loop_control:
    label: "{{ repo_name }}[{{ repo_os }}]: {{ repo_values }}"
  when:
    - repo_name == 'epel'
    - repo_values | length > 0
  vars:
    repo_os: "{{ ansible_distribution_version if ansible_distribution_version in item.value else ansible_distribution_major_version }}"
    repo_values: "{{ item.value.get(repo_os, {}) }}"
    repo_name: "{{ repo_values.repo_name | default(item.key) }}"
    repo_content_url: "{{ repo_values.pulp_content_url | default(dnf_repos_pulp_content_url) }}"
