---
# NOTE: Might be better of as extra vars or in a builder specific inventory as
# as dependent on alphabetical ordering of groups, so if these variables are
# defined elsewhere the group that is ordered lower will determine the values.
openhpc_slurm_service_started: false
nfs_client_mnt_state: present
openhpc_rebuild_reconfigure: false
update_enable: true
update_exclude:
  - grafana
block_devices_partition_state: skip
block_devices_filesystem_state: skip
block_devices_mount_state: present
basic_users_manage_homedir: false
grafana_state: stopped # as it tries to listen on the "real" grafana node
block_devices_configurations: [] # as volumes will not be attached to Packer build VMs
