---
# NOTE: Might be better of as extra vars or in a builder specific inventory as
# as dependent on alphabetical ordering of groups, so if these variables are
# defined elsewhere the group that is ordered lower will determine the values.
update_enable: true
openhpc_slurm_service_started: false
nfs_client_mnt_state: present
block_devices_partition_state: skip
block_devices_filesystem_state: skip
block_devices_mount_state: present
basic_users_manage_homedir: false
grafana_state: stopped # as it tries to listen on the "real" grafana node
block_devices_configurations: [] # as volumes will not be attached to Packer build VMs
mysql_state: stopped # as it tries to connect to real mysql node
opensearch_state: stopped # avoid writing config+certs+db into image
cuda_persistenced_state: stopped # probably don't have GPU in Packer build VMs
firewalld_enabled: false # dnf install of firewalld enables it
firewalld_state: stopped
squid_started: false
squid_enabled: false
squid_cache_disk: 0 # just needs to be defined
squid_cache_mem: 0
tuned_started: false
tuned_enabled: false
