#cloud-config
mounts:
  {% for nfs_cfg in nfs_configurations %}
  - ["{{ nfs_cfg.nfs_server }}:{{ nfs_cfg.nfs_export }}", "{{ nfs_cfg.nfs_client_mnt_point }}", "nfs", "defaults", "0", "0"]
  {% endfor %}

write_files:
{% if appliances_manage_etc_hosts | default(false) | bool %}
  - path: /etc/hosts
    encoding: text/plain
    permissions: "0644"
    owner: root:root
    content: |
      127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
      ::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

      # BEGIN ANSIBLE MANAGED BLOCK
{% for hostname in groups['all'] | sort %}
      {{ hostvars[hostname]['ansible_host'] }} {{ hostname }}
{% endfor %}
      # END ANSIBLE MANAGED BLOCK
{% endif %}
  - path: /etc/sysconfig/slurmd
    encoding: text/plain
    permissions: "0644"
    owner: root:root
    content: SLURMD_OPTIONS='--conf-server {{ openhpc_slurm_control_host }}'
  - path: /etc/openstack/clouds.yaml
    encoding: text/plain
    permissions: "0400"
    owner: root:root
    content: |
      {{ lookup('file', openhpc_rebuild_clouds, errors=( 'strict' if groups['rebuild'] else 'ignore')) | indent(width=6, first=false) }}
  - path: /etc/munge/munge.key
    encoding: base64
    permissions: "0400"
    owner: munge:munge
    content: ${ openhpc_munge_key }
