---
# Miscellaneous
ansible_user: rocky
appliances_repository_root: "{{ lookup('env', 'APPLIANCES_REPO_ROOT') }}"
appliances_environment_root: "{{ lookup('env', 'APPLIANCES_ENVIRONMENT_ROOT') }}"

# Address(ip/dns) for internal communication between services. This is
# normally traffic you do no want to expose to users.
internal_address: "{{ inventory_hostname }}"
# Address(ip/dns) for user facing services e.g grafana. Can be set to
# `internal_address`
api_address: "{{ inventory_hostname }}"

# Service endpoints
opensearch_address: "127.0.0.1"
prometheus_address: "{{ hostvars[groups['prometheus'].0].api_address }}"
openondemand_address: "{{ hostvars[groups['openondemand'].0].api_address if groups['openondemand'] | count > 0 else '' }}"
grafana_address: "{{ hostvars[groups['grafana'].0].api_address }}"

############################# bootstrap: local user configuration #########################

appliances_local_users_default: "{{ ([appliances_local_users_podman] if (groups['podman'] | length > 0) else []) + [appliances_local_users_ansible_user] + appliances_local_users_extra }}"

# Overide this to add extra users whilst keeping the defaults.
appliances_local_users_extra: []
appliances_local_users: "{{ appliances_local_users_default + appliances_local_users_extra }}"

appliances_local_users_ansible_user_name: "{{ ansible_ssh_user | default(ansible_user) }}"
appliances_local_users_ansible_user_home: /var/lib/{{ appliances_local_users_ansible_user_name }}
appliances_local_users_ansible_user:
    name: "{{ appliances_local_users_ansible_user_name }}"
    home: "{{ appliances_local_users_ansible_user_home }}"
    move_home: true
    local: true

appliances_local_users_podman_home: /var/lib/podman
appliances_local_users_podman:
    name: podman
    comment: Used for running all containers
    # Would like to set subuid so that we that we know what will appear in /etc/subuid
    # See: https://github.com/ansible/ansible/issues/68199
    home: "{{ appliances_local_users_podman_home }}"

###########################################################################################
