---
# Miscellaneous
ansible_user: rocky
appliances_repository_root: "{{ lookup('env', 'APPLIANCES_REPO_ROOT') }}"
appliances_environment_root: "{{ lookup('env', 'APPLIANCES_ENVIRONMENT_ROOT') }}"
appliances_environment_name: "{{ appliances_environment_root | basename | regex_replace('\\W+', '') }}" # [a-zA-Z0-9_] only
appliances_cockpit_state: absent # RHEL cockpit installed but not enabled in genericcloud images; appliance defaults to removing it
#appliances_state_dir: # define an absolute path here to use for persistent state: NB: This is defined as /var/lib/state in inventory by the default Terraform
appliances_mode: configure
appliances_pulp_url: https://ark.stackhpc.com

# Address(ip/dns) for internal communication between services. This is
# normally traffic you do no want to expose to users.
internal_address: "{{ inventory_hostname }}"
# Address(ip/dns) for user facing services e.g grafana. Can be set to
# `internal_address`
api_address: "{{ inventory_hostname }}"

# Service endpoints
opensearch_address: "127.0.0.1"
prometheus_address: "{{ hostvars[groups['prometheus'].0].api_address }}"
openondemand_address: "{{ hostvars[groups['openondemand'].0].api_address if groups['openondemand'] | count > 0 else '' }}"
grafana_address: "{{ hostvars[groups['grafana'].0].api_address }}"

############################# bootstrap: local user configuration #########################

# Note RockyLinux 8.5 defines system user/groups in range 201-999
appliances_local_users_ansible_user_name: "{{ ansible_ssh_user | default(ansible_user) }}"
appliances_local_users_podman_uid: 1001 # UID for podman user - normally next UID after default user
appliances_local_users_podman: # also used in environments/common/inventory/group_vars/all/podman.yml:podman_users
    name: podman
    comment: Used for running all containers
    # Would like to set subuid so that we that we know what will appear in /etc/subuid
    # See: https://github.com/ansible/ansible/issues/68199
    home: /var/lib/podman
    uid: "{{ appliances_local_users_podman_uid }}"

appliances_local_users_default:
    - user:
        name: "{{ appliances_local_users_ansible_user_name }}"
        home: /var/lib/{{ appliances_local_users_ansible_user_name }}
        move_home: true
        local: true
    
    - user: "{{ appliances_local_users_podman }}"
      enable: "{{ 'podman' in group_names }}"

    - user:
        name: slurm
        comment: SLURM resource manager
        home: /etc/slurm
        shell: /sbin/nologin
        uid: 202
        system: true
    
    - group:
        name: prometheus
        gid: 976
      user:
        name: prometheus
        uid: 981
        home: "{{ prometheus_db_dir }}"
        shell: /usr/sbin/nologin
        system: true
      enable: "{{ 'prometheus' in group_names }}"
    
    - group:
        name: grafana
        gid: 979
      user:
        name: grafana
        comment: grafana user
        uid: 984
        home: /usr/share/grafana
        shell: /sbin/nologin
        system: true
      enable: "{{ 'grafana' in group_names }}"

# Overide this to add extra users whilst keeping the defaults.
appliances_local_users_extra: [] # see format of appliances_local_users_default above
appliances_local_users: "{{ appliances_local_users_default + appliances_local_users_extra }}"

################## bootstrap: extra package installs ######################################

appliances_extra_packages_default:
 - htop
 - nano
 - screen
 - tmux
 - wget
 - bind-utils
 - net-tools
 - postfix
 - git
 - "{{ 'python36' if ansible_distribution_version == '8.9' else 'python312' }}"
 

appliances_extra_packages_during_configure: false

appliances_extra_packages_other: []
  
appliances_extra_packages: "{{ appliances_extra_packages_default + appliances_extra_packages_other }}"

###################### ark repo timestamps ###################################################

appliances_pulp_repos:
  baseos:
    '9.4':
      timestamp: 20241115T011711
      path: rocky/9.4/BaseOS/x86_64/os
    '9.5':
      timestamp: 20241216T013503
      path: rocky/9.5/BaseOS/x86_64/os
    '8.10':
      timestamp: 20241217T123729
      path: rocky/8.10/BaseOS/x86_64/os
  appstream:
    '9.4':
      timestamp: 20241112T003151
      path: rocky/9.4/AppStream/x86_64/os
    '9.5':
      timestamp: 20241217T005008
      path: rocky/9.5/AppStream/x86_64/os
    '8.10':
      timestamp: 20241217T123729
      path: rocky/8.10/AppStream/x86_64/os
  crb:
    '9.4':
      timestamp: 20241115T003133
      path: rocky/9.4/CRB/x86_64/os
    '9.5':
      timestamp: 20241217T005008
      path: rocky/9.5/CRB/x86_64/os
    '8.10':
      timestamp: 20241217T123729
      path: rocky/8.10/PowerTools/x86_64/os
  extras:
    '9.4':
      timestamp: 20241118T002802
      path: rocky/9.4/extras/x86_64/os
    '9.5':
      timestamp: 20241218T004632
      path: rocky/9.5/extras/x86_64/os
    '8.10':
      timestamp: 20241217T123729
      path: rocky/8.10/extras/x86_64/os
  epel:
    '9':
      timestamp: 20241213T010218
      path: epel/9/Everything/x86_64
    '8':
      timestamp: 20241216T235733
      path: epel/8/Everything/x86_64
  openhpc_base:
    '8':
      path: OpenHPC/2/EL_8
      timestamp: 20241218T154614
    '9':
      path: OpenHPC/3/EL_9
      timestamp: 20241218T154614
  openhpc_updates:
    '8':
      path: OpenHPC/2/updates/EL_8
      timestamp: 20241218T154614
    '9':
      path: OpenHPC/3/updates/EL_9
      timestamp: 20241218T154614
  ceph:
    '8':
      timestamp: 20231104T015751
      path: centos/8-stream/storage/x86_64/ceph-quincy
    '9':
      timestamp: 20241114T011240
      path: centos/9-stream/storage/x86_64/ceph-quincy
