fail2ban_firewalld_configs_default:
  # A list of dicts defining firewalld rules to be applied to the fail2ban node.
  # Each dict contains:
  #   name: An arbitrary name or description
  #   group: An ansible group name - this rule is applied if the fail2ban node is in this group
  #   rule: A dict of parameters passed to the `ansible.posix.firewalld` module.
  - name: Enable all ports within openhpc cluster
    group: openhpc
    rule:
      source:  "{{ fail2ban_cluster_subnet }}"
      zone: trusted
      state: enabled
      permanent: yes
  - name: Allow https for openondemand
    group: openondemand
    rule:
      service: https
      zone: public
      state: enabled
      permanent: yes

fail2ban_firewalld_configs_extra: [] # list of dicts with parameters as for fail2ban_firewalld_configs_default

fail2ban_firewalld_configs: "{{ (fail2ban_firewalld_configs_default + fail2ban_firewalld_configs_extra) | selectattr('group', 'in',  group_names) | map(attribute='rule') }}"
