# See ansible/roles/freeipa/README.md
# These vars are only used when freeipa_server is enabled. They are not required when enabling only freeipa_client
freeipa_realm: "{{ openhpc_cluster_name | upper }}.{{ cluster_domain_suffix | upper }}"
freeipa_ds_password: "{{ vault_freeipa_ds_password }}"
freeipa_admin_password: "{{ vault_freeipa_admin_password }}"
# the below doesn't use ansible_default_ipv4.address as that requires facts, and allows for templating when group freeipa_server is empty
freeipa_server_ip: "{{ hostvars[groups['freeipa_server'].0].ansible_host if groups['freeipa_server'] else false }}"
