---

grafana_dashboards:
  # node exporter slurm:
  - dashboard_id: 13427
    replacements:
      - placeholder: DS_PROMETHEUS
        replacement: prometheus
      - placeholder: DS_ELASTICSEARCH
        replacement: slurmstats
    revision_id: 1
  # openhpc slurm:
  - dashboard_id: 13426
    replacements:
      - placeholder: DS_PROMETHEUS
        replacement: prometheus
      - placeholder: DS_SLURMSTATS
        replacement: slurmstats
    revision_id: 2
  # slurm jobs overview
  - dashboard_id: 13535
    replacements:
      - placeholder: DS_PROMETHEUS
        replacement: prometheus
      - placeholder: DS_SLURMSTATS
        replacement: slurmstats
    revision_id: 1

grafana_security:
    admin_user: grafana
    admin_password: "{{ secrets_openhpc_grafana_admin_password }}"

grafana_datasources:
  - name: prometheus
    ds_type: prometheus
    ds_url: "{{ prometheus_address }}:9090" # default prometheus port
  - name: slurmstats
    ds_type: elasticsearch
    ds_url: "https://{{ elasticsearch_address }}:9200"
    basic_auth_user: admin
    basic_auth_password: "{{ secrets_openhpc_elasticsearch_admin_password }}"
    with_credentials: true
    tls_skip_verify: true
    time_field: "@timestamp"
    database: "filebeat-*"
    es_version: 70
