---

# See: https://github.com/stackhpc/ansible-role-openhpc
# for variable definitions

openhpc_enable:
  control: "{{ inventory_hostname in groups['control'] }}"
  batch: "{{ inventory_hostname in groups['compute'] }}"
  database: "{{ inventory_hostname in groups['control'] }}"
  runtime: true
openhpc_slurm_service_enabled: true
openhpc_slurm_accounting_storage_type: 'accounting_storage/slurmdbd'
openhpc_slurmdbd_mysql_database: slurm_acct_db
openhpc_slurmdbd_mysql_password: "{{ vault_mysql_slurm_password }}"
openhpc_slurmdbd_mysql_username: slurm
openhpc_slurm_control_host: "{{ groups['control'] | first }}" # avoid using hostvars for compute-init
openhpc_slurmdbd_host: "{{ openhpc_slurm_control_host }}"
openhpc_slurm_partitions:
  - name: "compute"
openhpc_packages_default:
  # system packages
  - podman
  # OpenHPC packages
  - slurm-libpmi-ohpc # to allow intel mpi to work properly
  - ohpc-gnu12-openmpi4-perf-tools # for hpctests
  - openblas-gnu12-ohpc # for hpctests (HPL)
  # EPEL packages:
  - apptainer
  - podman-compose
openhpc_packages_extra: []
openhpc_packages: "{{ openhpc_packages_default + openhpc_packages_extra }}"
openhpc_munge_key: "{{ vault_openhpc_mungekey | b64decode }}"
openhpc_login_only_nodes: login
openhpc_config_default:
  SlurmctldParameters:
    - enable_configless
  TaskPlugin: task/cgroup,task/affinity
openhpc_config_extra: {}
openhpc_config: "{{ openhpc_config_default | combine(openhpc_config_extra, list_merge='append') }}"
openhpc_state_save_location: "{{ appliances_state_dir + '/slurmctld' if appliances_state_dir is defined else '/var/spool' }}"

openhpc_install_type: ohpc # 'ohpc' or 'generic', see https://github.com/stackhpc/ansible-role-openhpc/pull/163

# Empty repo lists from stackhpc.openhpc role defaults, as these repofiles are
# now generated by dnf_repos to allow injecting Ark creds:
ohpc_openhpc_repos:
  "9": []
  "8": []

# overriding to ensure doesn't overwrite Ark epel repo
ohpc_default_extra_repos:
  "9": []
  "8": []
