appliances_pulp_repos:
  appstream:
    '8.10':
      path: rocky/8.10/AppStream/x86_64/os
      timestamp: 20250328T030013
    '9.4':
      path: rocky/9.4/AppStream/x86_64/os
      timestamp: 20241112T003151
    '9.5':
      path: rocky/9.5/AppStream/x86_64/os
      timestamp: 20250328T031822
  baseos:
    '8.10':
      path: rocky/8.10/BaseOS/x86_64/os
      timestamp: 20250328T030013
    '9.4':
      path: rocky/9.4/BaseOS/x86_64/os
      timestamp: 20241115T011711
    '9.5':
      path: rocky/9.5/BaseOS/x86_64/os
      timestamp: 20250326T030636
  ceph:
    '8':
      path: centos/8-stream/storage/x86_64/ceph-quincy
      timestamp: 20231104T015751
    '9':
      path: centos/9-stream/storage/x86_64/ceph-reef
      timestamp: 20240923T233036
  crb:
    '8.10':
      path: rocky/8.10/PowerTools/x86_64/os
      timestamp: 20250328T030013
    '9.4':
      path: rocky/9.4/CRB/x86_64/os
      timestamp: 20241115T003133
    '9.5':
      path: rocky/9.5/CRB/x86_64/os
      timestamp: 20250325T031428
  epel:
    '8':
      path: epel/8/Everything/x86_64
      timestamp: 20250609T000109
    '9':
      path: epel/9/Everything/x86_64
      timestamp: 20250609T000109
  extras:
    '8.10':
      path: rocky/8.10/extras/x86_64/os
      timestamp: 20250327T030422
    '9.4':
      path: rocky/9.4/extras/x86_64/os
      timestamp: 20241118T002802
    '9.5':
      path: rocky/9.5/extras/x86_64/os
      timestamp: 20250328T031822
  openhpc_base:
    '8':
      path: OpenHPC/2/EL_8
      timestamp: 20241218T154614
    '9':
      path: OpenHPC/3/EL_9
      timestamp: 20241218T154614
  openhpc_updates:
    '8':
      path: OpenHPC/2/updates/EL_8
      timestamp: 20250512T003315
    '9':
      path: OpenHPC/3/updates/EL_9
      timestamp: 20250510T003301
  grafana:
    '8':
      path: grafana/oss/rpm
      timestamp: 20250505T025259
    '9':
      path: grafana/oss/rpm
      timestamp: 20250505T025259
