---

# 2.9 is LTS, last to support ConnectX-4, 3 years for bug fixes and CVE updates:
# https://docs.nvidia.com/doca/archive/2-9-3/changes+and+new+features/index.html
# DOCA 2.9.3 has not been released for rhel 9.7 yet (as of 2025-12-18).
# DOCA 3.2.0 is compatible with rhel 9 but lists Connectx-4 lx as supported but not ConnectX-4:
# https://docs.nvidia.com/doca/sdk/general-support/index.html#src-4413883949_id-.GeneralSupportv3.2.0LC-SupportedPlatformsandNICFirmwareVersions
doca_version: "{{ ansible_distribution_version is version('9.7', '>=') | ternary('3.2.1', '2.9.3') }}"
doca_profile: doca-ofed
doca_distribution: "{{ doca_version is version('3.2.0', '>=') | ternary(ansible_distribution_major_version, ansible_distribution_version) }}"
doca_repo_url: "https://linux.mellanox.com/public/repo/doca/{{ doca_version }}/rhel{{ doca_distribution }}/{{ ansible_architecture }}/"
