---

doca_version: "2.9.3" # 2.9 is LTS, last to support ConnectX-4, 3 years for bug fixes and CVE updates
doca_profile: doca-ofed
doca_distribution: "{{ doca_version is version('3.2.0', '>=') | ternary(ansible_distribution_major_version, ansible_distribution_version) }}"
doca_repo_url: "https://linux.mellanox.com/public/repo/doca/{{ doca_version }}/rhel{{ doca_distribution }}/{{ ansible_architecture }}/"
