---
- name: Install packages
  ansible.builtin.dnf:
    name:
      - podman

- name: Create install directories
  ansible.builtin.file:
    state: directory
    path: "{{ pulp_site_install_dir }}/{{ item }}"
    mode: "0755"
  loop:
    - settings/certs
    - pulp_storage
    - pgsql
    - containers

- name: Template settings file
  ansible.builtin.template:
    src: settings.py.j2
    dest: "{{ pulp_site_install_dir }}/settings/settings.py"
    mode: "0644"
  register: _pulp_site_settings

- name: Install pulp podman container
  containers.podman.podman_container:
    name: pulp
    publish:
      - "{{ pulp_site_port }}:80"
    volume:
      - "{{ pulp_site_install_dir }}/settings:/etc/pulp{{ _pulp_site_selinux_suffix }}"
      - "{{ pulp_site_install_dir }}/pulp_storage:/var/lib/pulp{{ _pulp_site_selinux_suffix }}"
      - "{{ pulp_site_install_dir }}/pgsql:/var/lib/pgsql{{ _pulp_site_selinux_suffix }}"
      - "{{ pulp_site_install_dir }}/containers:/var/lib/containers{{ _pulp_site_selinux_suffix }}"
    device: /dev/fuse
    image: docker.io/pulp/pulp:3.68.1
    state: present

- name: Create systemd file
  ansible.builtin.copy:
    src: pulp.service
    dest: /etc/systemd/system/pulp.service
    mode: "0644"
  register: _pulp_service

- name: Ensure Pulp service state
  ansible.builtin.systemd:
    name: pulp
    state: "{{ 'restarted' if (_pulp_service.changed or _pulp_site_settings.changed) else 'started' }}"
    daemon_reload: "{{ _pulp_service.changed }}"
    enabled: true

- name: Reset admin password once container has initialised
  no_log: true
  ansible.builtin.command:
    cmd: "podman exec pulp bash -c 'pulpcore-manager reset-admin-password -p {{ pulp_site_password }}'"
  register: _pulp_site_admin_password
  changed_when: true
  until: 0 == _pulp_site_admin_password.rc
  retries: 6
  delay: 30

- name: Manage Pulp content checksums
  # see https://github.com/stackhpc/stackhpc-kayobe-config/blob/c9951e60452f08b41a62f3aa6a8dcec16a1c2edf/etc/kayobe/containers/pulp/post.yml#L21-L29
  ansible.builtin.command:
    cmd: "podman exec pulp bash -c 'pulpcore-manager handle-artifact-checksums'"
  changed_when: true
  when: _pulp_site_settings.changed # noqa: no-handler
