terraform {
  required_version = ">= 0.14"
  required_providers {
    openstack = {
      source = "terraform-provider-openstack/openstack"
    }
  }
}

# The identity scope we are operating in
# Used to output the OpenStack project ID as a fact for provisioned hosts
data "openstack_identity_auth_scope_v3" "scope" {
  name = "{{ cluster_name }}"
}
