# {{ ansible_managed }}

# Nodes have long FQDN hostnames but short nodenames
* || HOSTNAME="$HOSTNAME_S"

## Filesystem checks
{% for mount in ansible_mounts | rejectattr('mount', 'eq', '/efi') %}
{% set autofs = mount.mount in nhc_autofs_mounts %}
{# /efi is mounted both directly and via systemd1 autofs, which NHC can't cope with #}
{# use `awk '{print $5 " " $10 " " $4 " " $9}' /proc/self/mountinfo | sort -k1` to check that is the only case #}
{% set mount_mode = 'rw' if 'rw' in mount.options.split(',') else 'ro' %}
{{ ansible_fqdn }} || check_fs_mount_{{ mount_mode }} -t "{{ mount.fstype }}" -s "{{ mount.device | replace(' ', '\\040') }}" {{ "-F" if autofs else "-f" }} "{{ mount.mount }}"
{% endfor %}

## Ethernet interface checks
{% for iface in ansible_interfaces | select('match', 'eth') %}
{{ ansible_fqdn }} || check_hw_eth {{ iface }}
{% endfor %}

## InfiniBand interface checks
{% for iface in ansible_interfaces | select('match', 'ib') %}
{{ ansible_fqdn }} || check_hw_ib {{ (ansible_facts[iface]['speed'] / 1000) | int }} {{ iface }}
{% endfor %}

## Site-specific checks
{{ nhc_config_extra }}
