---
# Used to set passwords
#opensearch_internal_users_path:

opensearch_podman_user: "{{ ansible_user }}"
opensearch_version: '2.9.0' # https://hub.docker.com/r/opensearchproject/opensearch/tags
opensearch_config_path: /usr/share/opensearch/config
opensearch_data_path: /usr/share/opensearch/data
opensearch_state: started # will be restarted if required
opensearch_systemd_service_enabled: true
opensearch_certs_duration: "{{ 365 * 10 }}" # days validity for self-signed certs
opensearch_debug: false
