[defaults]
any_errors_fatal = True
stdout_callback = debug
stderr_callback = debug
gathering = smart
forks = 30
host_key_checking = False
inventory = ../common/inventory,inventory
collections_path = ../../ansible/collections
roles_path = ../../ansible/roles
filter_plugins = ../../ansible/filter_plugins

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPath=~/.ssh/%r@%h-%p -o ControlPersist=240s -o PreferredAuthentications=publickey -o UserKnownHostsFile=/dev/null
pipelining = True

[inventory]
# Fail when any inventory source cannot be parsed.
any_unparsed_is_failed = True
