---
# proxy_http_proxy:
proxy_https_proxy: "{{ proxy_http_proxy }}"
proxy_no_proxy_defaults: "{{ ['localhost', '127.0.0.1'] + groups['all'] + hostvars.values() | map(attribute='ansible_host') }}"
proxy_no_proxy_extras: []
proxy_no_proxy: "{{ (proxy_no_proxy_defaults + proxy_no_proxy_extras) | unique | sort | join(',') }}"
proxy_dnf: true
proxy_systemd: true
