# {{ ansible_managed }}

{% for section in sssd_config.keys() %}
[{{ section }}]
{% if sssd_config[section] %}
{% for key, value in sssd_config[section].items() %}
{{ key }} = {{ value }}
{% endfor %}
{% endif %}

{% endfor %}
