# freeipa-server.service

[Unit]
Description=Podman container 
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target
RequiresMountsFor=%t/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
ExecStartPre=/bin/rm -f %t/%n.ctr-id
#     --cidfile=%t/%n.ctr-id
ExecStart=/usr/bin/podman run \
    --cgroups=no-conmon \
    --rm \
    --network=slirp4netns:cidr={{ podman_cidr }} \
    --sdnotify=conmon \
    --detach \
    --replace \
    --name freeipa-server \
    --sysctl net.ipv6.conf.all.disable_ipv6=0 \
    --read-only \
    --dns=127.0.0.1 \
    --hostname {{ freeipa_server_hostname }} \
    --publish 53:53/udp \
    --publish 53:53/tcp \
    --publish 80:80/tcp \
    --publish 443:443/tcp \
    --publish 389:389/tcp \
    --publish 636:636/tcp \
    --publish 123:123/udp \
    --publish 88:88/tcp \
    --publish 88:88/udp \
    --publish 464:464/tcp \
    --publish 464:464/udp \
    -e IPA_SERVER_IP={{ freeipa_server_ip }} \
    -v {{ freeipa_server_datadir }}:/data:Z \
    {{ freeipa_container_registry }}/freeipa/freeipa-server:{{ freeipa_server_tag }} \
    --setup-dns \
    --auto-forwarders \
    --no-dnssec-validation \
    --no-ntp \
    --unattended
#ExecStop=/usr/bin/podman stop --ignore --cidfile=%t/%n.ctr-id
ExecStop=/usr/bin/podman stop --ignore freeipa-server
#ExecStopPost=/usr/bin/podman rm -f --ignore --cidfile=%t/%n.ctr-id
ExecStopPost=/usr/bin/podman rm -f --ignore freeipa-server
Type=notify
NotifyAccess=all
User={{ freeipa_server_podman_user }}
Group={{ freeipa_server_podman_user }}
TimeoutStartSec=30

[Install]
WantedBy=multi-user.target default.target
