[defaults]
any_errors_fatal = True
gathering = smart
host_key_checking = False
remote_tmp = /tmp
roles_path = {{ playbook_dir }}/vendor/stackhpc/ansible-slurm-appliance/ansible/roles
inventory = {{ playbook_dir }}/vendor/stackhpc/ansible-slurm-appliance/environments/common/inventory,{{ image_build_inventory.path }}

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=240s -o PreferredAuthentications=publickey -o UserKnownHostsFile=/dev/null
pipelining = True
# This is important because we are using one of the hosts in the play as a jump host
# This ensures that if the proxy connection is interrupted, rendering the other hosts
# unreachable, the connection is retried instead of failing the entire play
retries = 10
