127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for inventory_hostname in groups['etc_hosts'] | sort -%}
{{ hostvars[inventory_hostname]['ansible_host'] }}{% if node_fqdn is defined %} {{ node_fqdn }}{% endif %} {{ inventory_hostname }}
{% endfor -%}
