127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for inventory_hostname in groups['etc_hosts'] | sort -%}
{{ hostvars[inventory_hostname] | json_query('['  + ( etc_hosts_hostvars | join(', ') ) + ']' ) | join(' ')}}
{% endfor %}
{% if etc_hosts_extra_hosts != '' %}
{{ etc_hosts_extra_hosts }}
{% endif %}
