pulp_site_url: "{{ appliances_pulp_url }}"
pulp_site_port: 8080
pulp_site_username: admin # shouldn't be changed
pulp_site_password: "{{ vault_pulp_admin_password }}"
# See environments/common/inventory/groups_vars/all/pulp.yml
# pulp_site_upstream_username:
# pulp_site_upstream_password:
pulp_site_upstream_content_url: https://ark.stackhpc.com/pulp/content
pulp_site_install_dir: '/home/rocky/pulp'
_pulp_site_selinux_suffix: "{{ ':Z' if ansible_selinux.status == 'enabled' else '' }}"
pulp_site_target_facts: "{{ hostvars[groups['pulp'][0]]['ansible_facts'] }}"
pulp_site_target_distribution_version: "{{ pulp_site_target_facts['distribution_version'] }}" # TODO: how to set automatically?

pulp_site_rpm_repo_defaults:
  remote_username: "{{ pulp_site_upstream_username }}"
  remote_password: "{{ pulp_site_upstream_password }}"
  policy: on_demand

_pulp_site_rpm_info: |
  {{
    dnf_repos_repos |
    select_repos(pulp_site_target_distribution_version)
  }}
pulp_site_rpm_repos: |
  {{
    _pulp_site_rpm_info |
    to_rpm_repos(pulp_site_upstream_content_url, pulp_site_rpm_repo_defaults)
  }}

pulp_site_rpm_publications: "{{ _pulp_site_rpm_info | to_rpm_pubs }}"
pulp_site_rpm_distributions: "{{ _pulp_site_rpm_info | to_rpm_distros }}"

pulp_site_squeezer_venv: /opt/pulp-cli
pulp_site_squeezer_python: "{{ pulp_site_squeezer_venv }}/bin/python3"
pulp_cli_packages:
  - pulp-cli==0.23.2
  - pulp-glue==0.23.2
