---
- name: Ensure /exports/cluster directory structure exists
  ansible.builtin.file:
    path: /exports/cluster
    state: directory
    owner: ansible-init
    group: ansible-init
    mode: u=rX,g=rwX,o=
  run_once: true
  loop:
    - /exports/cluster
    - /exports/cluster/hostvars
    - /exports/cluster/cacerts
    - /exports/cluster/cvmfs
    - /exports/cluster/hostconfig
  delegate_to: "{{ groups['control'] | first }}"

- name: Copy /etc/hosts to /exports/cluster
  ansible.builtin.copy:
    src: /etc/hosts
    dest: /exports/cluster/hosts
    owner: ansible-init
    group: ansible-init
    mode: u=rw,go=r
    remote_src: true
  run_once: true
  delegate_to: "{{ groups['control'] | first }}"

- name: Create per-host hostvars directory
  ansible.builtin.file:
    path: /exports/cluster/hostvars/{{ inventory_hostname }}/
    state: directory
    owner: ansible-init
    group: ansible-init
    mode: u=rwX,go=
  delegate_to: "{{ groups['control'] | first }}"

- name: Template out hostvars
  ansible.builtin.template:
    src: hostvars.yml.j2
    dest: /exports/cluster/hostvars/{{ inventory_hostname }}/hostvars.yml
    owner: ansible-init
    group: ansible-init
    mode: u=rw,go=
  delegate_to: "{{ groups['control'] | first }}"

- name: Template manila share info to /exports/cluster
  ansible.builtin.template:
    src: os_manila_mount_share_info.j2
    dest: /exports/cluster/manila_share_info.yml
    owner: ansible-init
    group: ansible-init
    mode: u=rw,go=
  run_once: true
  delegate_to: "{{ groups['control'] | first }}"
  when: os_manila_mount_share_info is defined

- name: Export cacerts
  ansible.builtin.include_role:
    name: cacerts
    tasks_from: export.yml
  when: "'cacerts' in group_names"

- name: Create per-host hostconfig directory
  ansible.builtin.file:
    path: "/exports/cluster/hostconfig/{{ inventory_hostname }}/"
    state: directory
    owner: ansible-init
    group: ansible-init
    mode: u=rwX,go=
  delegate_to: "{{ groups['control'] | first }}"

- name: Template sssd config
  ansible.builtin.import_role:
    name: sssd
    tasks_from: export.yml
  when: "'sssd' in group_names"

- name: Template sshd config
  ansible.builtin.import_role:
    name: sshd
    tasks_from: export.yml
  when: "'sshd' in group_names"

- name: Export generated NHC config
  ansible.builtin.import_role:
    name: nhc
    tasks_from: export.yml
  when: "'nhc' in group_names"
