---
- name: Ensure the /exports/cluster directory exists
  ansible.builtin.file:
    path: /exports/cluster
    state: directory
    owner: slurm
    group: root
    mode: u=rX,g=rwX,o=
  run_once: true
  delegate_to: "{{ groups['control'] | first }}"

- name: Copy /etc/hosts to /exports/cluster
  ansible.builtin.copy:
    src: /etc/hosts
    dest: /exports/cluster/hosts
    owner: slurm
    group: root
    mode: u=r,g=rw,o=
    remote_src: true
  run_once: true
  delegate_to: "{{ groups['control'] | first }}"

- name: Create hostvars directory
  ansible.builtin.file:
    path: /exports/cluster/hostvars/{{ inventory_hostname }}/
    state: directory
    owner: slurm
    group: root
    mode: u=rX,g=rwX,o=
  delegate_to: "{{ groups['control'] | first }}"

- name: Template out hostvars
  ansible.builtin.template:
    src: hostvars.yml.j2
    dest: /exports/cluster/hostvars/{{ inventory_hostname }}/hostvars.yml
    owner: slurm
    group: root
    mode: u=r,g=rw,o=
  delegate_to: "{{ groups['control'] | first }}"

- name: Copy manila share info to /exports/cluster
  ansible.builtin.copy:
    content: "{{ os_manila_mount_share_info_var | to_nice_yaml }}"
    dest: /exports/cluster/manila_share_info.yml
    owner: slurm
    group: root
    mode: u=r,g=rw,o=
  run_once: true
  delegate_to: "{{ groups['control'] | first }}"
  when: os_manila_mount_share_info is defined
  vars:
    os_manila_mount_share_info_var:
      os_manila_mount_share_info: "{{ os_manila_mount_share_info }}"

- name: Ensure /exports/cluster/cvmfs directory exists
  ansible.builtin.file:
    path: /exports/cluster/cvmfs
    state: directory
    owner: slurm
    group: root
    mode: "0755"
  run_once: true
  delegate_to: "{{ groups['control'] | first }}"

- name: Copy EESSI CVMFS config to /exports/cluster
  ansible.builtin.copy:
    src: /etc/cvmfs/default.local
    dest: /exports/cluster/cvmfs/default.local
    owner: slurm
    group: root
    mode: "0644"
    remote_src: true
  run_once: true
  delegate_to: "{{ groups['control'] | first }}"

- name: Export cacerts
  ansible.builtin.include_role:
    name: cacerts
    tasks_from: export.yml
  when: "'cacerts' in group_names"

- name: Create hostconfig directory
  ansible.builtin.file:
    path: "/exports/cluster/hostconfig/{{ inventory_hostname }}/"
    state: directory
    owner: slurm
    group: root
    mode: u=rX,g=rwX,o=
  delegate_to: "{{ groups['control'] | first }}"

- name: Template sssd config
  ansible.builtin.import_role:
    name: sssd
    tasks_from: export.yml
  when: "'sssd' in group_names"

- name: Template sshd config
  ansible.builtin.import_role:
    name: sshd
    tasks_from: export.yml
  when: "'sshd' in group_names"

- name: Export generated NHC config
  ansible.builtin.import_role:
    name: nhc
    tasks_from: export.yml
  when: "'nhc' in group_names"
