---

- name: Ensure directories exist
  file:
    path: "/etc/ansible-init/playbooks/{{ item }}"
    state: directory
    owner: root
    group: root
    mode: 0755
  loop:
    - templates
    - files
    - library
    - filter_plugins
    - tasks

- name: Inject files from roles
  copy:
    src: '{{ item.src }}'
    dest: '/etc/ansible-init/playbooks/{{ item.dest }}'
    owner: root
    group: root
    mode: 0644
  loop:
    - src: ../../resolv_conf/templates/resolv.conf.j2
      dest: templates/resolv.conf.j2
    - src: ../../stackhpc.os-manila-mount/templates/ceph.conf.j2
      dest: templates/ceph.conf.j2
    - src: ../../stackhpc.os-manila-mount/templates/ceph.keyring.j2
      dest: templates/ceph.keyring.j2
    - src: ../../resolv_conf/files/NetworkManager-dns-none.conf
      dest: files/NetworkManager-dns-none.conf
    - src: ../../basic_users/filter_plugins/filter_keys.py
      dest: filter_plugins/filter_keys.py
    - src: ../../tuned/tasks/configure.yml
      dest: tasks/tuned.yml
    - src: ../../stackhpc.nfs/tasks/nfs-clients.yml
      dest: tasks/nfs-clients.yml

- name: Add filter_plugins to ansible.cfg
  lineinfile:
    path: /etc/ansible-init/ansible.cfg
    line: "filter_plugins = /etc/ansible-init/filter_plugins"
    state: present
    owner: root
    group: root
    mode: 0644

- name: Add compute initialisation playbook
  copy:
    src: compute-init.yml
    dest: /etc/ansible-init/playbooks/1-compute-init.yml
    owner: root
    group: root
    mode: 0644
