openhpc_config_extra:
  SlurmctldDebug: debug
  SlurmdDebug: debug
openhpc_slurm_partitions:
- name: tiny
  ram_mb: "{{ 808 * 0.9 | int }}" # from free --mebi
  cloud_nodes: "{{ openhpc_cluster_name }}-compute-[2-3]" # see TF variable 'cloud_nodes'
  cloud_instances: # TODO: can we somehow check these when templating??
    flavor: vm.alaska.cpu.general.tiny
    image:  "{{ openhpc_autoscale_image | default('IMAGE_PLACEHOLDER') }}"
    keypair: slurm-app-ci
    network: "{{ hostvars[groups['control'] | first]['server_networks'].keys() | first }}" # Defined in inventory, so only defined for control during Packer build
