- name: Create config
  template:
    dest: /etc/fail2ban/jail.local
    src: jail.local.j2
  notify: Restart fail2ban

- name: flush handlers
  meta: flush_handlers

- name: Ensure fail2ban running even if no config change
  service:
    name: fail2ban
    state: started
    enabled: true
