---
- name: Use dnf to set EPEL releasever during installation
  ansible.builtin.command:
    cmd: "dnf install epel-release --setopt=releasever=9"

- name: Install fail2ban packages
  package:
    name:
      - fail2ban-server
      - fail2ban-firewalld
    state: present

- name: Create config
  template:
    dest: /etc/fail2ban/jail.local
    src: jail.local.j2
  notify: Restart fail2ban

- name: flush handlers
  meta: flush_handlers

- name: Ensure fail2ban running even if no config change
  service:
    name: fail2ban
    state: started
    enabled: true
