basic_users_homedir_host: "{{ groups['control'] | first }}" # no way, generally, to find the nfs_server
basic_users_homedir_host_path: /exports/home
_basic_users_manage_homedir: "{{ ansible_hostname == basic_users_homedir_host }}"
basic_users_userdefaults:
  state: present
  home: "{{ basic_users_homedir_host_path }}/{{ item.name }}"
  create_home: "{{ _basic_users_manage_homedir }}"
  generate_ssh_key:  "{{ _basic_users_manage_homedir }}"
  ssh_key_comment: "{{ item.name }}"
  ssh_key_type: ed25519
  shell: "{{'/sbin/nologin' if 'control' in group_names else omit }}"
basic_users_users: []
basic_users_groups: []
basic_users_override_sssd: false
