apiVersion: v1
kind: Secret
metadata:
  name: opensearch-securityconfig-secret
type: Opaque
stringData:
  internal_users.yml: |-
    _meta:
      type: "internalusers"
      config_version: 2
    admin:
      hash: "{{ opensearch_admin_password_hash }}"
      reserved: true
      backend_roles:
      - "admin"
      description: "Admin user"
