apiVersion: v1
kind: Secret
metadata:
  name: opensearch-admincreds-secret
type: Opaque
data:
  username: "{{ 'admin' | b64encode }}"
  password: "{{ vault_elasticsearch_admin_password | b64encode }}"
