- name: Grab facts to determine distribution
  setup:

- name: Template sshd configuration
  # NB: If parameters are defined multiple times the first value wins;
  # The default /etc/ssh/sshd_config has
  #   Include /etc/ssh/sshd_config.d/*.conf
  # early on, which is generally held to be the correct approach, so adding
  # values to the end of that file won't work
  template:
    src: "{{ sshd_conf_src }}"
    dest: "{{ sshd_conf_dest }}"
    owner: root
    group: root
    mode: u=rw,go=
    validate: sshd -t -f %s
  notify:
    - Restart sshd
  when: ansible_facts.distribution_major_version == '9'

- name: Disallow SSH password authentication
  lineinfile:
    dest: /etc/ssh/sshd_config
    regexp: "^PasswordAuthentication"
    line: "PasswordAuthentication {{ 'yes' if sshd_password_authentication | bool else 'no' }}"
    state: present
    validate: sshd -t -f %s
  notify:
    - Restart sshd
  become: true
  when: ansible_facts.distribution_major_version == '8'
