---
# Exclusively used for compute-init
- name: Inject host specific config template
  ansible.builtin.template:
    src: "{{ sshd_conf_src }}"
    dest: "/exports/cluster/hostconfig/{{ inventory_hostname }}/sshd.conf"
    owner: root
    group: root
    mode: u=rw,go=
  delegate_to: "{{ groups['control'] | first }}"
