---
- name: Copy cacerts from deploy host to /exports/cluster/cacerts/
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: /exports/cluster/cacerts/
    owner: ansible-init
    group: ansible-init
    mode: u=rw,go=
  with_fileglob:
    - "{{ cacerts_cert_dir }}/*"
  delegate_to: "{{ groups['control'] | first }}"
  run_once: true
