#!/opt/slurm-tools/bin/python3
""" Create OpenStack instances """

import sys, subprocess, logging.handlers
import openstack
import pprint

# all take a name or ID:
config = {
    'image': "{{ autoscale_image }}",
    'network': "{{ autoscale_network }}",
    'flavor': "{{ autoscale_flavor }}",
    'keypair': "{{ autoscale_keypair }}",
}

# configure logging to syslog - by default only "info" and above categories appear
logger = logging.getLogger("syslogger")
logger.setLevel(logging.DEBUG)
handler = logging.handlers.SysLogHandler("/dev/log")
logger.addHandler(handler)

def expand_nodes(hostlist_expr):
    scontrol = subprocess.run(['scontrol', 'show', 'hostnames', hostlist_expr], stdout=subprocess.PIPE, universal_newlines=True)
    return scontrol.stdout.strip().split('\n')

def create_server(conn, name):

    image = conn.compute.find_image(config['image'])
    flavor = conn.compute.find_flavor(config['flavor'])
    network = conn.network.find_network(config['network'])
    keypair = conn.compute.find_keypair(config['keypair'])

    for ix, item in enumerate((image, flavor, network, keypair)):
        if item is None:
            raise ValueError(f'Specified {list(config)[ix]} {config[list(config)[ix]]} was not found')

    server = conn.compute.create_server(
        name=name, image_id=image.id, flavor_id=flavor.id,
        networks=[{"uuid": network.id}], key_name=keypair.name)
    
    #server = conn.compute.wait_for_server(server)
    return server

def resume():
    hostlist_expr = sys.argv[1]
    logger.info(f"Slurmctld invoked resume {hostlist_expr}")
    new_nodes = expand_nodes(hostlist_expr)

    conn = openstack.connection.from_config()
    logger.info(f"Got openstack connection {conn}")

    for node in new_nodes:
        logger.info(f"creating node {node}")
        server = create_server(conn, node) # TODO: save id to disk so can use it instead of name on deletion (to cope with multiple instances with same name)
        logger.info(f"server: {server}")

if __name__ == "__main__":
    try:
        sys.exit(resume())
    except:
        logger.exception('Exception in main:')
        raise
