---

- name: Add base CVMFS config
  ansible.builtin.template:
    dest: /etc/cvmfs/default.local
    src: cvmfs.config.j2
    mode: u=rw,go=r
    owner: root
  register: cvmfs_config

# NOTE: Not clear how to make this idempotent
- name: Ensure CVMFS config is setup # noqa: no-changed-when
  ansible.builtin.command:
    cmd: "cvmfs_config setup"

- name: Reload CVMFS config
  ansible.builtin.command:
    cmd: cvmfs_config reload
  when: cvmfs_config.changed

# configure gpus
- name: Check for NVIDIA GPU
  ansible.builtin.stat:
    path: /dev/nvidia0
  register: nvidia_driver

- name: Set fact if NVIDIA GPU is present
  ansible.builtin.set_fact:
    has_nvidia_driver: "{{ nvidia_driver.stat.exists | default(false) }}"

- name: Expose GPU drivers
  ansible.builtin.shell: |
    source /cvmfs/software.eessi.io/versions/2023.06/init/bash
    /cvmfs/software.eessi.io/versions/2023.06/scripts/gpu_support/nvidia/link_nvidia_host_libraries.sh
  when: has_nvidia_driver
  changed_when: true
