---

- name: Add base CVMFS config
  community.general.ini_file:
    dest: /etc/cvmfs/default.local
    section: null
    option: "{{ item.key }}"
    value: "{{ item.value }}"
    no_extra_spaces: true
    mode: "0644"
  loop: "{{ cvmfs_config | dict2items }}"


# NOTE: Not clear how to make this idempotent
- name: Ensure CVMFS config is setup # noqa: no-changed-when
  ansible.builtin.command:
    cmd: "cvmfs_config setup"

# configure gpus
- name: Check for NVIDIA GPU
  ansible.builtin.stat:
    path: /dev/nvidia0
  register: nvidia_driver

- name: Set fact if NVIDIA GPU is present
  ansible.builtin.set_fact:
    has_nvidia_driver: "{{ nvidia_driver.stat.exists | default(false) }}"

- name: Expose GPU drivers
  ansible.builtin.shell: |
    source /cvmfs/software.eessi.io/versions/2023.06/init/bash
    /cvmfs/software.eessi.io/versions/2023.06/scripts/gpu_support/nvidia/link_nvidia_host_libraries.sh
  when: has_nvidia_driver
  changed_when: true
