---

- name: Download Cern GPG key
  # checkov:skip=CKV2_ANSIBLE_2: "Ensure that HTTPS url is used with get_url"
  ansible.builtin.get_url:
    url: https://cvmrepo.web.cern.ch/cvmrepo/yum/RPM-GPG-KEY-CernVM-2048
    dest: ./cvmfs-key.gpg
    checksum: "{{ cvmfs_gpg_checksum }}"
    mode: "0644"

- name: Import downloaded GPG key # noqa: no-changed-when
  ansible.builtin.command: rpm --import cvmfs-key.gpg # noqa: command-instead-of-module

# cvmfs repo and eessi config provided by dnf_repos role

- name: Install CVMFS
  ansible.builtin.dnf:
    name: cvmfs

- name: Install EESSI CVMFS config
  ansible.builtin.dnf:
    name: cvmfs-eessi-config
