---
- name: Download Cern GPG key
  ansible.builtin.get_url:
    url: http://cvmrepo.web.cern.ch/cvmrepo/yum/RPM-GPG-KEY-CernVM 
    dest: ./cvmfs-key.gpg

- name: Import downloaded GPG key
  command: rpm --import cvmfs-key.gpg

- name: Add CVMFS repo
  dnf:
    name: https://ecsft.cern.ch/dist/cvmfs/cvmfs-release/cvmfs-release-latest.noarch.rpm

- name: Install CVMFS
  dnf:
    name: cvmfs

- name: Install EESSI CVMFS config
  dnf:
    name: https://github.com/EESSI/filesystem-layer/releases/download/latest/cvmfs-config-eessi-latest.noarch.rpm
    # NOTE: Can't find any docs on obtaining gpg key - maybe downloading directly from github is ok?
    disable_gpg_check: true

# Alternative version using official repo - still no GPG key :(
# - name: Add EESSI repo
#   dnf: 
#     name: http://repo.eessi-infra.org/eessi/rhel/8/noarch/eessi-release-0-1.noarch.rpm

# - name: Install EESSI CVMFS config
#   dnf:
#     name: cvmfs-config-eessi
