- name: Find sshd config with AuthorizedKeys
  ansible.builtin.find:
    paths: /etc/ssh/sshd_config.d/
    patterns:
      - '*.conf'
    contains: AuthorizedKeysCommand
    read_whole_file: true
  register: _opkssh_authorized_keys_configs

- name: Check AuthorizedKeys options not set for other applications
  # NB: Can't be done by ansible/validation as maybe no roles changed config then!
  ansible.builtin.assert:
    that: _opkssh_authorized_keys_unexpected | length == 0
    fail_msg: "Found AuthorizedKeys* keyword(s) in unexpected file(s): {{ _opkssh_authorized_keys_unexpected }}"
  vars:
    _opkssh_authorized_keys_unexpected: "{{ _opkssh_authorized_keys_found | difference(_opkssh_authorized_keys_expected) }}"
    _opkssh_authorized_keys_found: "{{ _opkssh_authorized_keys_configs.files | map(attribute='path') }}"
    _opkssh_authorized_keys_expected:
      - /etc/ssh/sshd_config.d/60-opk-ssh.conf

- name: Ensure configuration directories exists
  ansible.builtin.file:
    state: directory
    path: /etc/opk/policy.d
    owner: root
    group: "{{ opkssh_install_auth_cmd_group }}"
    mode: '0750'

# NB: Doesn't do complex check to ensure sshd_config precedence, see validate.yml
- name: Configure OpenSSH server to use opkssh
  ansible.builtin.template:
    src: sshd-opkssh.conf.j2
    dest: /etc/ssh/sshd_config.d/60-opk-ssh.conf
    owner: root
    group: root
    mode: '0600'
  notify:
    - Restart OpenSSH server
  # NB: can assume this is running so don't need any complexity here

- name: Configure allowed OpenID Providers
  ansible.builtin.template:
    src: providers.j2
    dest: /etc/opk/providers
    owner: root
    group: "{{ opkssh_install_auth_cmd_group }}"
    mode: '0640'

- name: Configure authorized identities
  ansible.builtin.template:
    src: auth_id.j2
    dest: /etc/opk/auth_id
    owner: root
    group: "{{ opkssh_install_auth_cmd_group }}"
    mode: '0640'

- name: Configure hostbased authentication to allow OpenOndemand web terminal
  ansible.builtin.include_tasks: host-based-auth.yml
  when: opkssh_configure_hostbased_auth
