- name: Ensure configuration directories exists
  file:
    state: directory
    path: /etc/opk/policy.d
    owner: root
    group: "{{ opkssh_install_auth_cmd_group }}"
    mode: '0750'

# NB: Doesn't do complex check to ensure sshd_config precedence, see validate.yml
- name: Configure OpenSSH server to use opkssh
  ansible.builtin.template:
    src: sshd.conf.j2
    dest: /etc/ssh/sshd_config.d/60-opk-ssh.conf
    owner: root
    group: root
    mode: '0600'
  notify:
    - Restart OpenSSH server
  # NB: can assume this is running so don't need any complexity here

- name: Configure allowed OpenID Providers
  ansible.builtin.template:
    src: providers.j2
    dest: /etc/opk/providers
    owner: root
    group: "{{ opkssh_install_auth_cmd_group }}"
    mode: '0640'

- name: Configure authorized identities
  ansible.builtin.template:
    src: auth_id.j2
    dest: /etc/opk/auth_id
    owner: root
    group: "{{ opkssh_install_auth_cmd_group }}"
    mode: '0640'
