output "cluster_gateway_ip" {
  description = "The IP address of the gateway used to contact the cluster nodes"
  value       = "{{ cluster_floating_ip_address }}"
}

output "cluster_nodes" {
  description = "A list of the nodes in the cluster from which an Ansible inventory will be populated"
  value       = concat(
    [
      {
        name          = openstack_compute_instance_v2.login.name
        ip            = openstack_compute_instance_v2.login.network[0].fixed_ip_v4
        groups        = ["{{ cluster_name }}_login"],
        facts  = {
          openstack_project_id = data.openstack_identity_auth_scope_v3.scope.project_id
        }
      },
      {
        name          = openstack_compute_instance_v2.control.name
        ip            = openstack_compute_instance_v2.control.network[0].fixed_ip_v4
        groups        = ["{{ cluster_name }}_control"],
        facts  = {
          openstack_project_id = data.openstack_identity_auth_scope_v3.scope.project_id
        }
      }
    ],
    [
      for compute in openstack_compute_instance_v2.compute: {
        name          = compute.name
        ip            = compute.network[0].fixed_ip_v4
        groups        = ["{{ cluster_name }}_compute"],
        facts  = {
          openstack_project_id = data.openstack_identity_auth_scope_v3.scope.project_id
        }
      }
    ]
  )
}

output "cluster_image" {
  description = "The id of the image used to build the cluster nodes"
  value       = "{{ cluster_previous_image | default(cluster_image) }}"
}
