[Unit]
Description=Prometheus Slurm Exporter

[Service]
User={{ slurm_exporter_user }}
Group={{ slurm_exporter_group }}
ExecStart={{ slurm_exporter_binary_install_dir }}/prometheus-slurm-exporter --listen-address=0.0.0.0:{{ slurm_exporter_port }}
Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
