---
# Lock or unlock cluster instances

# Used for site.yml / rebuild-via-slurm.yml
# Run required for rebuild.yml / tofu destroy / changes to tofu state etc.

# Examples:

#   ansible-playbook --limit login,control ansible/adhoc/lock-unlock-instances.yml -e "lock_unlock_action=unlock"

#   ansansible-playbook ansible/adhoc/lock-unlock-instances.yml -e "lock_unlock_action=unlock" -e "lock_unlock_hosts=compute"

# - name: Unlock compute instances
#   vars:
#     lock_unlock_action: unlock
#     lock_unlock_hosts: compute
#   ansible.builtin.import_playbook: lock-unlock-instances.yml

- hosts: "{{ lock_unlock_hosts | default('cluster') }}"
  gather_facts: false
  become: false
  tasks:
    - name: Lock/Unlock instances
      openstack.cloud.server_action:
        action: "{{ lock_unlock_action | default('lock') }}"
        server: "{{ inventory_hostname }}"
      delegate_to: localhost
