# Report whether compute nodes have been rebuilt after a slurm-controlled upgrade.
# NB: Current image information will not be available for volume-backed instances.

- hosts: compute
  become: false
  gather_facts: true
  tasks:
    - name: Get current image
      ansible.builtin.command:
        cmd: "openstack server show -c image -f value {{ instance_id }}"
      delegate_to: localhost
      changed_when: false
      register: image_current  # stdout e.g. 'openhpc-RL9-260109-1203-4d09658f (8e5e7289-6b96-4f2c-bed0-9bb399e5e1c4)'

    - name: Get server events
      ansible.builtin.command:
        cmd: "openstack server event list -f json {{ instance_id }}"
      delegate_to: localhost
      changed_when: true
      register: server_event_list

    - name: Set fact for update status
      # from_yaml nonsense needed to get rebuild_count to be an int
      ansible.builtin.set_fact:
        rebuild_status: "{{ rebuild_status_yaml | from_yaml }}"
      vars:
        rebuild_status_yaml: |
          image_correct: {{ image_id_target == image_id_current }}
          rebuild_count: {{ rebuild_events | length | int }}
          uptime_seconds: {{ ansible_uptime_seconds }}
          image_id_current: {{ image_id_current }}
          image_id_target: {{ image_id_target }}
          rebuild_events: {{ rebuild_events}}
        image_id_current: "{{ image_current.stdout | split | last | trim('()') }}"
        image_id_target: "{{ image_id }}" # from TF-templated hostvars
        rebuild_events: "{{ server_event_list.stdout | from_json | selectattr('Action', 'eq', 'rebuild') }}"

    - name: Show rebuild status
      ansible.builtin.debug:
        var: rebuild_status
