---
# Rebuild compute nodes via slurm.
# Nodes will be rebuilt if `image_id` in inventory is different to the
# currently-provisioned image. Otherwise they are rebooted.

# Example:
#   ansible-playbook -v ansible/adhoc/rebuild-via-slurm.yml

# See docs/slurm-controlled-rebuild.md.

- name: Unlock compute instances
  vars:
    unlock_hosts: compute
  ansible.builtin.import_playbook: unlock.yml

- hosts: login
  run_once: true
  gather_facts: false
  tasks:
    - name: Start slurm-controlled rebuild
      ansible.builtin.import_role:
        name: rebuild
        tasks_from: rebuild.yml

# TODO: how do we lock the compute nodes again??