---
# Rebuild hosts with a specified image from OpenStack.
#
# NB: This is provided for development use only, and is not normally required
# NB: Run the unlock playbook as shown below first
#
# Use ansible's -v output to see output.
# Use --limit to control which hosts to rebuild (either specific hosts or the <cluster_name>_<partition_name> groups defining partitions).
# Optionally, supply `-e rebuild_image=<image_name_or_id>` to define a specific image, otherwise the current image is reused.
#
# NOTE: If a hostvar `instance_id` is defined this is used to select hosts.
#       Otherwise the hostname is used and this must be unique, which may not be the case e.g. if using identically-named staging and production hosts.
#
# Example of just rebuilding login nodes back to current image:
#   ansible-playbook -v --limit login ansible/adhoc/unlock.yml
#   ansible-playbook -v --limit login ansible/adhoc/rebuild.yml

- hosts: cluster
  become: false
  gather_facts: false
  tasks:
    # yamllint disable-line rule:line-length
    - ansible.builtin.command: "openstack server rebuild {{ instance_id | default(inventory_hostname) }}{% if rebuild_image is defined %} --image {{ rebuild_image }}{% endif %}"
      delegate_to: localhost
      changed_when: false
    - ansible.builtin.wait_for_connection:
        delay: 60
        timeout: 600
