---
# Rebuild compute nodes via slurm.
# Nodes will be rebuilt if `image_id` in inventory is different to the
# currently-provisioned image. Otherwise they are rebooted.

# Example:
#   ansible-playbook -v ansible/adhoc/rebuild-via-slurm.yml

# See docs/slurm-controlled-rebuild.md.

- name: Unlock compute instances for rebuild
  vars:
    appliances_server_action: unlock
  ansible.builtin.command: ansible-playbook --limit compute adhoc/lock_unlock_instances.yml

- hosts: login
  run_once: true
  gather_facts: false
  tasks:
    - name: Run slurm-controlled rebuild
      ansible.builtin.import_role:
        name: rebuild
        tasks_from: rebuild.yml
