collections
roles/*
*.pyc
# Whitelist roles that are checked into this repository.
!roles/filebeat/
!roles/filebeat/**
!roles/opendistro/
!roles/opendistro/**
!roles/podman/
!roles/podman/**
!roles/grafana-dashboards/
!roles/grafana-dashboards/**
!roles/grafana-datasources/
!roles/grafana-datasources/**
!roles/passwords/
!roles/passwords/**
!roles/fail2ban/
!roles/fail2ban/**
!roles/hpctests/
!roles/hpctests/**
!roles/block_devices/
!roles/block_devices/**
!roles/basic_users/
!roles/basic_users/**
