collections
roles/*
*.pyc
# Whitelist roles that are checked into this repository.
!roles/filebeat/
!roles/filebeat/**
!roles/opensearch/
!roles/opensearch/**
!roles/podman/
!roles/podman/**
!roles/grafana-dashboards/
!roles/grafana-dashboards/**
!roles/passwords/
!roles/passwords/**
!roles/fail2ban/
!roles/fail2ban/**
!roles/hpctests/
!roles/hpctests/**
!roles/block_devices/
!roles/block_devices/**
!roles/basic_users/
!roles/basic_users/**
!roles/openondemand/
!roles/openondemand/**
!roles/slurm_exporter/
!roles/slurm_exporter/**
!roles/firewalld/
!roles/firewalld/**
!roles/etc_hosts/
!roles/etc_hosts/**
!roles/cloud_init/
!roles/cloud_init/**
!roles/mysql/
!roles/mysql/**
!roles/systemd/
!roles/systemd/**