---

- name: Setup custom mounts
  hosts: mounts
  become: true
  tags: mounts
  tasks:
    - ansible.builtin.include_role:
        name: mounts

- name: Setup block devices
  hosts: block_devices
  become: true
  tags: block_devices
  tasks:
    - ansible.builtin.include_role:
        name: block_devices

- name: Setup NFS
  hosts: nfs
  become: true
  tags:
    - nfs
  tasks:
    - ansible.builtin.include_role:
        name: stackhpc.nfs

- name: Setup Manila share mounts
  hosts: manila
  become: true
  tags: manila
  tasks:
    - ansible.builtin.include_role:
        name: stackhpc.os-manila-mount
        tasks_from: "{{ item }}"
      loop: "{{ ['lookup.yml', 'mount.yml'] if appliances_mode == 'configure' else ['main.yml'] }}"

- name: Setup Lustre clients
  hosts: lustre
  become: true
  tags: lustre
  tasks:
    - ansible.builtin.include_role:
        name: lustre
        # NB install is ONLY run in builder
        tasks_from: configure.yml
