---
- hosts: freeipa_client
  tags:
    - freeipa
    - freeipa_server # as this is only relevant if using freeipa_server
    - freeipa_host
  gather_facts: false
  become: true
  tasks:
    - name: Ensure FreeIPA client hosts are added to the FreeIPA server
      ansible.builtin.import_role:
        name: freeipa
        tasks_from: addhost.yml
      when: groups['freeipa_server'] | length > 0

- name: Persist hostkeys across rebuilds
  # Must be:
  # - after filesystems.yml (for storage)
  # - before ipa (re)enrolment, which updates IPA record to match actual hostkey
  # - before portal.yml (where OOD login node hostkeys are scanned)
  hosts: persist_hostkeys:!builder
  become: true
  gather_facts: false
  tasks:
    - ansible.builtin.import_role:
        name: persist_hostkeys

- hosts: freeipa_client
  tags:
    - freeipa
    - freeipa_client
  gather_facts: true
  become: true
  tasks:
    - name: Install FreeIPA client
      ansible.builtin.include_role:
        name: freeipa
        tasks_from: client-install.yml
      when: "appliances_mode != 'configure'"
    - name: Enrol FreeIPA client
      ansible.builtin.import_role:
        name: freeipa
        tasks_from: enrol.yml

- hosts: freeipa_server
  tags:
    - freeipa
    - freeipa_server
    - users
  gather_facts: true
  become: true
  tasks:
    - name: Add FreeIPA users
      ansible.builtin.import_role:
        name: freeipa
        tasks_from: users.yml

- hosts: sssd
  become: true
  gather_facts: false
  tags: sssd
  tasks:
    - name: Configure sssd
      ansible.builtin.import_role:
        name: sssd
