# ---
# # NOTE: Requires slurmdbd

- name: Setup podman
  hosts: podman
  tags: podman
  tasks:
    - import_role:
        name: podman
        tasks_from: prereqs.yml
      tags: prereqs

    - import_role:
        name: podman
        tasks_from: config.yml
      tags: config

- name: Setup elasticsearch
  hosts: opensearch
  tags: opensearch
  tasks:
    - import_role:
        name: opensearch
        tasks_from: config.yml
      tags: config

    - import_role:
        name: opensearch
        tasks_from: deploy.yml
      tags: deploy

- name: Setup slurm stats
  hosts: slurm_stats
  tags: slurm_stats
  collections:
    - stackhpc.slurm_openstack_tools
  tasks:
    - include_role:
        name: slurm-stats
        apply:
          # Collection currently requires root for all tasks.
          become: true

- name: Setup filebeat
  hosts: filebeat
  tags: filebeat
  tasks:
    - import_role:
        name: filebeat
        tasks_from: config.yml
      tags: config

    - import_role:
        name: filebeat
        tasks_from: deploy.yml
      tags: deploy

- name: Deploy node_exporter
  hosts: node_exporter
  tags: node_exporter
  tasks:
    - import_role: name=cloudalchemy.node_exporter

- name: Deploy OpenOndemand exporter
  hosts: openondemand
  become: true
  tags:
    - openondemand
    - openondemand_server
  tasks:
    - import_role:
        name: openondemand
        tasks_from: exporter.yml

- name: Deploy Slurm exporter
  hosts: control
  become: true
  tags: slurm_exporter
  tasks:
    - import_role:
        name: slurm_exporter

- name: Setup core monitoring software
  hosts: prometheus
  tags: prometheus
  tasks:
    - name: Check for existing prometheus binaries
      stat:
        path: /usr/local/bin/{{ item }}
      register: prometheus_binaries
      loop:
        - prometheus
        - promtool
    - name: Skip prometheus install if prometheus binaries exist and prometheus_version not defined
      # i.e. if prometheus_version isn't defined we don't care, so use what's already there
      set_fact:
        prometheus_skip_install: "{{ false if prometheus_version is defined else true }}" 
      when: "{{ (prometheus_binaries.results | map(attribute='stat') | map(attribute='exists')) + [prometheus_skip_install is not defined] }}"
    - import_role:
        name: cloudalchemy.prometheus

- name: Deploy grafana
  hosts: grafana
  tags: grafana
  tasks:
    - assert:
        that: vault_grafana_admin_password is defined
        fail_msg: "Must define vault_grafana_admin_password - use `ansible-playbook generate-passwords.yml` to generate a set of passwords"
    - import_role:
        name: cloudalchemy.grafana
      vars:
        # Use an internal role to import dashboards as the cloudalchemy role does not support all options that we require
        grafana_dashboards: []

- name: Initialise grafana dashboards
  hosts: grafana
  tags:
    - grafana-init
  tasks:
    - assert:
        that: vault_grafana_admin_password is defined
        fail_msg: "Must define vault_grafana_admin_password - use `ansible-playbook generate-passwords.yml` to generate a set of passwords"
    - import_role:
        name: grafana-dashboards
