---
- hosts: openondemand
  tags:
    - openondemand
    - openondemand_server
  become: true
  gather_facts: true # TODO
  tasks:
    - ansible.builtin.import_role:
        name: openondemand

- hosts: openondemand_desktop:openondemand_matlab
  tags:
    - openondemand
    - openondemand_desktop
    - openondemand_matlab
  become: true
  gather_facts: true
  tasks:
    - ansible.builtin.import_role:
        name: openondemand
        tasks_from: vnc_compute.yml
      when: appliances_mode != 'configure' # is run during build

- hosts: openondemand_jupyter
  tags:
    - openondemand
    - openondemand_jupyter
  become: true
  gather_facts: true
  tasks:
    - ansible.builtin.import_role:
        name: openondemand
        tasks_from: jupyter_compute.yml
      when: appliances_mode != 'configure' # is run during build

- hosts: openondemand_rstudio
  tags:
    - openondemand
    - openondemand_rstudio
  become: true
  gather_facts: true
  tasks:
    - ansible.builtin.import_role:
        name: openondemand
        tasks_from: rstudio_compute.yml
      when: appliances_mode != 'configure' # is run during build

- hosts: openondemand_codeserver
  tags:
    - openondemand
    - openondemand_codeserver
  become: true
  gather_facts: true
  tasks:
    - ansible.builtin.import_role:
        name: openondemand
        tasks_from: codeserver_compute.yml
      when: appliances_mode != 'configure' # is run during build
