---

- name: Run pre.yml hook
  vars:
    # hostvars not available here, so have to recalculate environment root:
    appliances_environment_root: "{{ ansible_inventory_sources | last | dirname }}"
    hook_path: "{{ appliances_environment_root }}/hooks/pre.yml"
  import_playbook: "{{ hook_path if hook_path | exists else 'noop.yml' }}"
  when: hook_path | exists

- import_playbook: validate.yml
  when: appliances_validate | default(true)

- import_playbook: bootstrap.yml

- name: Run post-bootstrap.yml hook
  vars:
    # hostvars not available here, so have to recalculate environment root:
    appliances_environment_root: "{{ ansible_inventory_sources | last | dirname }}"
    hook_path: "{{ appliances_environment_root }}/hooks/post-bootstrap.yml"
  import_playbook: "{{ hook_path if hook_path | exists else 'noop.yml' }}"
  when: hook_path | exists

- import_playbook: iam.yml
- import_playbook: filesystems.yml
- import_playbook: extras.yml
- import_playbook: slurm.yml
- import_playbook: portal.yml
- import_playbook: monitoring.yml

- name: Run post.yml hook
  vars:
    # hostvars not available here, so have to recalculate environment root:
    appliances_environment_root: "{{ ansible_inventory_sources | last | dirname }}"
    hook_path: "{{ appliances_environment_root }}/hooks/post.yml"
  import_playbook: "{{ hook_path if hook_path | exists else 'noop.yml' }}"
  when: hook_path | exists

- name: Clean up and shutdown Packer VM
  hosts: builder
  gather_facts: no
  become: yes
  tasks:
    - import_tasks: cleanup.yml
    - community.general.shutdown:

...