---
- name: Lock all instances
  vars:
    server_action: lock
    target_hosts: all
  ansible.builtin.import_playbook: adhoc/lock_unlock_instances.yml

- name: Run pre.yml hook
  vars:
    # hostvars not available here, so have to recalculate environment root:
    appliances_environment_root: "{{ ansible_inventory_sources | last | dirname }}"
    hook_path: "{{ appliances_environment_root }}/hooks/pre.yml"
  ansible.builtin.import_playbook: "{{ hook_path if hook_path | exists else 'noop.yml' }}"
  when: hook_path | exists

- ansible.builtin.import_playbook: validate.yml
  when: appliances_validate | default(true)

- ansible.builtin.import_playbook: bootstrap.yml

- name: Run post-bootstrap.yml hook
  vars:
    # hostvars not available here, so have to recalculate environment root:
    appliances_environment_root: "{{ ansible_inventory_sources | last | dirname }}"
    hook_path: "{{ appliances_environment_root }}/hooks/post-bootstrap.yml"
  ansible.builtin.import_playbook: "{{ hook_path if hook_path | exists else 'noop.yml' }}"
  when: hook_path | exists

- ansible.builtin.import_playbook: iam.yml
- ansible.builtin.import_playbook: filesystems.yml
- ansible.builtin.import_playbook: extras.yml
- ansible.builtin.import_playbook: slurm.yml
- ansible.builtin.import_playbook: portal.yml
- ansible.builtin.import_playbook: monitoring.yml

- name: Run post.yml hook
  vars:
    # hostvars not available here, so have to recalculate environment root:
    appliances_environment_root: "{{ ansible_inventory_sources | last | dirname }}"
    hook_path: "{{ appliances_environment_root }}/hooks/post.yml"
  ansible.builtin.import_playbook: "{{ hook_path if hook_path | exists else 'noop.yml' }}"
  when: hook_path | exists

- ansible.builtin.import_playbook: final.yml
