---
- name: Setup DB
  hosts: mysql
  become: true
  tags:
    - mysql
  tasks:
    - ansible.builtin.include_role:
        name: mysql

- name: Setup slurm-driven rebuild
  hosts: rebuild:!builder
  become: true
  tags:
    - rebuild
    - openhpc
  tasks:
    - ansible.builtin.include_role:
        name: rebuild
        tasks_from: "{{ 'configure.yml' if appliances_mode == 'configure' else 'main.yml' }}"

- name: Set locked memory limits on user-facing nodes
  hosts:
    - compute
    - login
  become: true
  tags:
    - openhpc
  tasks:
    - name: Set memory limits
      ansible.builtin.lineinfile:
        path: /etc/security/limits.conf
        regexp: "\\* soft memlock unlimited"
        line: "* soft memlock unlimited"

- name: Block ssh to compute nodes for non-privileged users without running jobs
  hosts: compute
  become: true
  tags:
    - openhpc
  tasks:
    - name: Ensure pam_slurm_adopt can be used
      when: appliances_enable_pam_slurm_adopt
      vars:
        _slurm_config: openhpc_default_config | combine(openhpc_config)
      ansible.builtin.assert:
        that:
          - "'Contain' in _slurm_config.get('PrologFlags', '')"
          - _slurm_config.get('ProcTracktype', '') == 'proctrack/cgroup'

    - name: Configure sshd pam module
      ansible.builtin.blockinfile:
        path: /etc/pam.d/sshd
        insertafter: "account\\s+required\\s+pam_nologin.so"
        block: |
          account    sufficient   pam_access.so
          {% if appliances_enable_pam_slurm_adopt %}
          account    required     pam_slurm_adopt.so action_adopt_failure=deny action_generic_failure=deny
          {% else %}
          account    required     pam_slurm.so
          {% endif %}

    - name: Ensure pam_systemd is disabled (conflicts with pam_slurm_adopt)
      ansible.builtin.lineinfile:
        path: /etc/pam.d/password-auth
        regex: '^(# )?-session\s+optional\s+pam_systemd.so'
        line: '# -session     optional      pam_systemd.so'
      when: appliances_enable_pam_slurm_adopt

    - name: Configure login access control
      ansible.builtin.blockinfile:
        path: /etc/security/access.conf
        block: |
          +:(adm):ALL
          -:ALL:ALL
 # vagrant uses (deprecated) ansible_ssh_user

- name: Setup slurm
  hosts: openhpc
  become: true
  tags:
    - openhpc
  tasks:
    - ansible.builtin.include_role:
        name: topology
      # Gated on topology group having compute nodes but role also
      # needs to run on control and login nodes
      when:
        - appliances_mode == 'configure'
        - groups['topology'] | length > 0
    - ansible.builtin.include_role:
        name: stackhpc.openhpc
        tasks_from: "{{ 'runtime.yml' if appliances_mode == 'configure' else 'main.yml' }}"

- name: Setup Node Health Checks
  # Has to be done here as it requires openhpc repos etc for installation
  hosts: nhc:!builder
  become: true
  tags: nhc
  tasks:
    - ansible.builtin.include_role:
        name: nhc
