---

- name: Setup DB
  hosts: mysql
  become: true
  tags:
    - mysql
  tasks:
    - include_role:
        name:  geerlingguy.mysql

- name: Setup Slurm-driven reimage on OpenStack
  hosts: rebuild
  become: yes
  tags:
    - rebuild
    - openhpc
  tasks:
    - import_role:
        name: stackhpc.slurm_openstack_tools.rebuild

- name: Preinstall Slurm packages to create slurm user
  # This is an optimisation for speed as it avoids having to do this once for `control` then again for `openhpc` nodes.
  hosts: openhpc
  become: yes
  tags:
    - openstack_autoscale
    - openhpc
    - install
  tasks:
    - import_role:
        name: stackhpc.openhpc
        tasks_from: install.yml
      when: groups.get('openstack_autoscale', []) | length > 0

- name: Setup autoscaling on OpenStack
  hosts: openstack_autoscale
  become: yes
  tags:
    - openstack_autoscale
    - openhpc
  tasks:
    - import_role:
        name: stackhpc.slurm_openstack_tools.autoscale

- name: Setup slurm
  hosts: openhpc
  become: yes
  tags:
    - openhpc
  tasks:
    - import_role:
        name: stackhpc.openhpc

- name: Set locked memory limits on user-facing nodes
  hosts:
    - compute
    - login
  become: yes
  tags:
    - openhpc
  tasks:
    - name: set memory limits
      lineinfile:
        path: /etc/security/limits.conf
        regexp: '\* soft memlock unlimited'
        line: "* soft memlock unlimited"

- name: Block ssh to compute nodes for non-privileged users without running jobs
  hosts: compute
  become: yes
  tags:
    - openhpc
  tasks:
    - name: Configure sshd pam module
      blockinfile:
        path: /etc/pam.d/sshd
        insertafter: 'account\s+required\s+pam_nologin.so'
        block: |
          account    sufficient   pam_access.so
          account    required     pam_slurm.so
    - name: Configure login access control
      blockinfile:
        path: /etc/security/access.conf
        block: |
          +:wheel:ALL
          +:{{ ansible_user }}:ALL
          -:ALL:ALL
      # vagrant uses (deprecated) ansible_ssh_user
