---

# Fail early if configuration is invalid

- name: Ensure control node is in inventory
  hosts: all
  tasks:
    - assert:
        that: groups['control'] | length
        fail_msg: "no hosts found in group 'control' - has control node been deployed?"

- name: Validate podman configuration
  hosts: podman
  tags: podman
  tasks:
    - import_role:
        name: podman
        tasks_from: validate.yml
      tags: validate

- name: Validate filebeat configuration
  hosts: filebeat
  tags: filebeat
  tasks:
    - import_role:
        name: filebeat
        tasks_from: validate.yml
      tags: validate

- name: Validate opendistro configuration
  hosts: opendistro
  tags: opendistro
  tasks:
    - import_role:
        name: opendistro
        tasks_from: validate.yml
      tags: validate

- name: Validate rebuild configuration
  hosts: rebuild
  gather_facts: false
  tags: rebuild
  tasks:
    - import_role:
        name: stackhpc.slurm_openstack_tools.rebuild
        tasks_from: validate.yml
      tags: validate

- name: Validate autoscale configuration
  hosts: openstack_autoscale
  gather_facts: false
  tags: openstack_autoscale
  tasks:
    - import_role:
        name: stackhpc.slurm_openstack_tools.autoscale
        tasks_from: validate.yml
      tags: validate
