---
extends: default

rules:
  indentation:
    spaces: consistent
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  line-length: disable
  truthy: disable
  comments-indentation: disable
