---
dnf_repos_repos: {} # see environments/common/inventory/group_vars/all/{dnf_repos,timestamps}.yml
dnf_repos_pulp_content_url: "{{ appliances_pulp_url }}/pulp/content"
dnf_repos_username: "{{ omit }}"
dnf_repos_password: "{{ omit }}"

openhpc_gpg_keys:
  '8': |
    -----BEGIN PGP PUBLIC KEY BLOCK-----

    mQENBF331lgBCAC4xqcV9msdntSbMNRSM9EgcoT52+JBix3b9woRZSPtoFzIxKYy
    05etPUl421AqXP6gUGuEC+X1WYNh34oE+MIZh1Gk5oecaC93e0bYZiZIR5vLzc6b
    aZHQYTCedln5/2jmgWgpk6j0MB4Y7+XjHIkkLHdYQqBOFnF4mhvBXJcDZud3JWL/
    fg6XkvI4i5iW0VNNdD55ekDaJwIUFPDgs4PJMPn0QDFtu99VVJfhdZr+plCqcfUh
    aS6Pdu6EP6Uf6YK2xPGXSswLjMQ3Avj8QsMb5zL9/G2oBc/QMSvZuWQuhQxUbzex
    4R9STQOSKoaQxbk6l28uK/Vwd4gvvqkBTX3vABEBAAG0OnByaXZhdGUgT0JTIChr
    ZXkgd2l0aG91dCBwYXNzcGhyYXNlKSA8ZGVmYXVsdGtleUBsb2NhbG9icz6JAU4E
    EwEIADgWIQRTknRNPFQ+1XhHZeaKMGAZ2lZcbAUCXffWWAIbLwULCQgHAgYVCgkI
    CwIEFgIDAQIeAQIXgAAKCRCKMGAZ2lZcbLViB/0Rzs0tFj62UqTkmK+nwN0a/lCb
    OayEmtaHcBBeSHf+tMa9H4dtgjlgCCt8z+bHWCi+jmilQkMSLE6eZ8S9c3TtX0/0
    h0kxEKQXyFz32JFJzGNPSCFSWCqO0G5Vj6zBUrJOfWPH8AzuQPquaM49Nnj/6ueP
    1XXZzsus0aIMtSS9qNgO+xNy3TrToMy+i7Z6X210WDDJwO5Wxd0CRexKobquKogx
    91TaPEjv9YECP0eWFwpKhts0MPgfmjTNlzKAFsb+3eLcP918eheVtEX3VhPbkEdw
    yfbEwKedIuzlhtr/wBIdbiheoDwxKG7mh58kjlH+8bLLdj++IcrxtRF+TvrouQIN
    BF331lgQCACVZMPSbZGzSDo9BEYH23MIMa3apBn9jw2/6FHoOQvkxRO2RSRGtukw
    PVB1NCTuOsyjM3KNX4gaVh52aadsruKrZyltp0GcbQmkQbJBAVhFv+Tkp6XWdu3V
    TE/mLssidmkUQ3PFu4OLVT5Q6XRVOhBDDwJvCdQuz4SXd/k7I+yDpoNDA8Sjoxks
    FzyZfcCU2OvU2HahbKja7EhEcernNYNxzJgbSbyHqnZanjrsOJYKzfbStM5bzZzl
    wXnym3TV79fs2ETdB6oeKkQIKgJ0dmQLn2zloPsb3hxQITWQA+d/uQzZhLO/HbJ7
    WBDwUtS8Uit4MMVjKhcp/AauzhmuMNlnAAMFB/4qFBD8zFQ+eDrcv0iV4KxUMRru
    GREbpxY3+Ac49U4Bv7M23faYynxDO7qRg1BIGO2bCxb922B/AHeLRSVny3ya+0nq
    K5Dw9hmdQjbJhTJbR/6k04VAEDcecwz9q6q3HN1+UiFUbNIvb1CWsxP3hx3rhU8I
    JcEC5wVbVirmE6QREa5kubmDSUDU5nnglx+7U5+z/hjQi+2wR7NRXkUIf1vE/0vh
    vlHD859FWT+KHcwKsvm3aICwgGYjQLSHKTNTPq7OJjOkanx2/wDRDHks6sMFTbj7
    D1/h5NYwGA+CVAhaK3lNoH9yOzKEmLVujKRE9NBcrGE8PkW7IGHHzYhCIRggiQE2
    BBgBCAAgFiEEU5J0TTxUPtV4R2XmijBgGdpWXGwFAl331lgCGwwACgkQijBgGdpW
    XGyAMAf8CV6albHtn3y5TzmNKZ+Cp46TJRvfJbIqy+Q4VFUOJRWXsE+F2oVIfRic
    X35j8I/kvvhO6EAu6Ic7Cv5B1y9X4oMpno6ZkUkDlUczNoLpP4ijWTm9cUD01Xyp
    VATpA6FfxmNe0+oh3ySXzmS6DOAqSBMks2E55YbG9spYvBSGVWQ4HQ0RRxc+kwEN
    td/O9MlrVfmBSVp1ccP2vOlovTBLqJS7H8pDiY9nDqCKqH1YZ7WYDvDbKl8U8v8y
    0qQDgPBv+3E9WsmOsqbu1jAB7HUdZuMNnMTrlpQmiqilJ2KATOWspxY7UMKGWNWO
    12Gh2vqXQrofz8qYb+vYEKLVlPP0/w==
    =2mn6
    -----END PGP PUBLIC KEY BLOCK-----
  '9': |
    -----BEGIN PGP PUBLIC KEY BLOCK-----

    mQENBGRAIkcBCAC8ye7kDRUXziTcPmmaUmoe0Xu3RnCHUyQgUAuRgrZBgs70XXff
    p1de9MABafAQQ2941Qx69NCecxAX7wYUbsoPth1G7TED9RJqa1LbajQP4134+vxi
    zMwyLHaSdxlAZGiA2fsoA9X/S0P1x1/bDU3yqKMQFMnLvrSF06GdFVa/WDqTLdUp
    m7O452iL7kM80dfxnTB/aZfC91pW0rb83NJYY7zfb33FbADsnOgYut5o79gqdR3n
    sOF5jIZORB2QqyDVsPjkxEmjAFuyX5QLxw+H2dMz47GA4SedPgS2mrufKuFTHfCj
    qcWmVkMf/r4T+3Ox3ZfIgTLaivzzJSGGIP15ABEBAAG0J09wZW5IUEMzIE9CUyBQ
    cm9qZWN0IDxPcGVuSFBDM0Bwcml2YXRlPokBVAQTAQgAPhYhBG4ZvhHZoILACn20
    GnrAXwlAqQzIBQJkQCJHAhsDBQkpMuAABQsJCAcCBhUKCQgLAgQWAgMBAh4BAheA
    AAoJEHrAXwlAqQzIQzUH/jUpZ40cRSp4RkSajjnJuYf/ZqJrSgWTe8Y36UuzEBz7
    tHngVd27xmI4BAFYZI9OGWk8fyonwwlYlZ6x8lW120iqN60tVHQW4a7AGLMlr8oH
    x8zrYjVclYIaPDB19zl2jdJCO9KIRGBzr71UQzZltt57wjyZkEWmbnrusV7hSq3i
    GAXi/dxrVwCiFGLMegQjyM3crrUCaOHFuU0G1HQcj3orCL5sANfi+A89yD/liYNH
    0GYFq6ipuCh4ybdV9mL8HoET4iDReVKsTvR1chbCsr/226yDE6YFYnekr3pOoibU
    BfWT6MJYBetGE3mazBOma4DoUzY3Mt9UiVKEvLeHIa6JATMEEwEIAB0WIQRTknRN
    PFQ+1XhHZeaKMGAZ2lZcbAUCZEAiSAAKCRCKMGAZ2lZcbHQOB/9iLNaV+kK+x34h
    FwK6u4JVemz/YmJZ5OhHeT+3juX4VVktWDirfYwqpxr0Xbqtnvh/W866sv8aKtVc
    NNaguOY00oN8fhEaXyGghc67o0kHTj/e9Dh4zoWdcIS+lgSSDfW+NVN4shFr6vv6
    xrjiTDM771jgtvstu4VdRNgZZM/NYc2NgwoUGBvxcALaJ0bWQ9JQu/0fk6PTM6+h
    7s90gKpjUpf7ANGNwTWq0o1FFh3+F30z6RDD7WekvTfMNod1D3Md+rszMk+h6o0B
    wYosLc92Rbma4KydoWuvSlPt2AjyIh7ShAe5MdlQf6O7yYHUIJVcGFuC0VvTTsVo
    +6Bhdlwn
    =OA41
    -----END PGP PUBLIC KEY BLOCK-----