[sssd]
config_file_version = 2
domains = LDAP
services = nss, pam

[domain/LDAP]
auth_provider = ldap
cache_credentials = True
chpass_provider = ldap
id_provider = ldap
ldap_schema = rfc2307bis
ldap_search_base = dc=local
ldap_tls_reqcert = allow
ldap_uri = ldaps://io-ldap.meso2
