- name: Manage sssd.conf configuration
  template:
    src: "{{ sssd_conf_src }}"
    dest: "{{ sssd_conf_dest }}"
    owner: root
    group: root
    mode: u=rw,go=
  notify: "Restart sssd"

- meta: flush_handlers

- name: Ensure sssd service state
  systemd:
    name: sssd
    state: "{{ 'started' if sssd_started | bool else 'stopped' }}"
    enabled: "{{ sssd_enabled | bool }}"

- name: Get current authselect configuration
  command: authselect current --raw
  changed_when: false
  failed_when:
    - _authselect_current.rc != 0
    - "'No existing configuration detected' not in _authselect_current.stdout"
  register: _authselect_current # stdout: sssd with-mkhomedir

- name: Configure nsswitch and PAM for SSSD
  command: "authselect select sssd --force{% if sssd_enable_mkhomedir | bool %} with-mkhomedir{% endif %}"
  when: "'sssd' not in _authselect_current.stdout"

- name: "Ensure oddjob is started"
  service:
    name: oddjobd
    state: started
    enabled: "{{ sssd_enable_mkhomedir }}"
