---
# Exclusively used for compute-init
- name: Inject host specific config template
  ansible.builtin.template:
    src: "{{ sssd_conf_src }}"
    dest: "/exports/cluster/hostconfig/{{ inventory_hostname }}/sssd.conf"
    owner: ansible-init
    group: ansible-init
    mode: u=rw,go=
  delegate_to: "{{ groups['control'] | first }}"
