ci_cloud: "{{ lookup('env', 'CI_CLOUD') }}"
bastion_config:
  ARCUS:
    user: slurm-app-ci
    ip: 128.232.222.183
  SMS:
    user: steveb
    ip: 185.45.78.150
# NB: The bastion_{user,ip} variables are used directly in the CI workflow too
bastion_user: "{{ bastion_config[ci_cloud].user }}"
bastion_ip: "{{ bastion_config[ci_cloud].ip }}"
ansible_ssh_common_args: '-o ProxyCommand="ssh {{ bastion_user }}@{{ bastion_ip }} -W %h:%p"'
