---

# Override defaults to provide 2x NFS exports here:
#   controlnode:/exports/home --> /home
#   localhost:${REPO_ROOT}/slurm/build --> /slurm

nfs_server_default: "{{ hostvars[groups['control'] | first ].internal_address }}"

nfs_configurations:
  - comment: Export /exports/home from Slurm control node as /home
    nfs_enable:
        server:  "{{ inventory_hostname in groups['control'] }}"
        # Don't mount share on server where it is exported from...
        # Could do something like `nfs_clients: "{{ 'nfs_servers' not in group_names }}"` instead.
        clients: "{{ inventory_hostname in groups['cluster'] and inventory_hostname not in groups['control'] }}"
    nfs_server: "{{ nfs_server_default }}"
    nfs_export: "/exports/home" # assumes skeleton TF is being used
    nfs_client_mnt_point: "/home"
  - comment: Export slurm directory from localhost
    nfs_enable:
        server: "{{ inventory_hostname == 'localhost' }}"
        clients: "{{ inventory_hostname in groups['cluster'] }}" # TODO, should be slurm really I guess
    nfs_server: "{{ hostvars['localhost'].ansible_host }}"
    nfs_export: "{{ appliances_environment_root }}/slurm/build/"
    nfs_client_mnt_point: "/slurm"
    # nfs_client_mnt_state: absent
