# required:
# mysql_root_password: # TODO: make it possible to CHANGE root password

mysql_tag: 8.0.30
mysql_systemd_service_enabled: yes
#mysql_state: # default is started or restarted as required
mysql_podman_user: "{{ ansible_user }}"
mysql_datadir: /var/lib/mysql
mysql_mysqld_options: [] # list of str options to mysqld, see `run -it --rm mysql:tag --verbose --help`
mysql_users: [] # list of dicts for community.mysql.mysql_user
mysql_databases: [] # list of dicts for community.mysql.mysql_db
